body{
    overflow: hidden;
}

.conteudo{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Títulos */
.titulo-pagina{
    position: absolute;
    top: 2.5vh;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.titulo-pagina span{
    position: relative;
    font-family: National;
    font-size: 2.3vw;
    color: #122BAD;
}
.sub-titulo, .sub-titulo2{
    position: relative;
}
.sub-titulo span{
    font-family: Park;
    font-size: 1.6vw;
}
.titulo1{
    color: #004FDA;
}
.titulo2{
    color: #FF8903;
}

/* Gráficos */
.area{
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.conteudo-graficos{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#myChart, #myChart2{
    position: relative;
    width: 28vw;
}
.area-grafico{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0.5vw;
    padding: 1vw;
    width: auto;
    background-color: #fff;
    border-radius: 1.5vw;
}
.area-grafico .sub-titulo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.area-grafico .sub-titulo span{
    font-size: 1.5vw;
    margin-bottom: 4vh;
}

/* Cards Box */
.card-box{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    width: 20%;
    margin: 1vh 0;
    height: 98vh;
    font-family: Poppins;
}
.card{
    width: 12vw;
    padding: 1.7vh 1vw;
    border-radius: 2vw;
    margin: 0.3vh 0.5vw;
}

.card:nth-child(1){
    background-color: #a3cbff;
}
.card:nth-child(2){
    background-color: #72B0FF;
}
.card:nth-child(3){
    background-color: #377DE2;
}
.card:nth-child(4){
    background-color: #054bc5;
}
.card:nth-child(5){
    background-color: #0d2499;
}

.card-box .card-conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card-box .card-conteudo img{
    width: 3vw;
}
.card-box .card-name{
    font-family: Regular;
    color: #fff;
    font-size: 1.2vw;
    margin: 1vh;
    text-align: center;
}
.card-box .number{
    font-family: Park;
    color: #fff;
    font-size: 1.6vw;
    font-weight: bold;
    text-align: center;
}
