/* PÁGINA ONGS */
.area-icons{
    display: flex;
    align-items: center;
    justify-content: center;
}


#icon-tabela i, #icon-cards i{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #004FDA;
    font-size: 4vh;
    margin-left: 2vh;
    padding: 2vh;
    border-radius: 5vh;
    cursor: pointer;
}
#icon-cards i{
    background-color: #004FDA;
    color: #fff;
}


.consulta{
    position: relative;
}
#area-tabela{
    position: relative;
    width: 100%;
    height: 70vh;
    margin-top: 5vh;
    display: none;
}
#area-cards{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin: 0 0.5vw;
    margin-top: 8vh;
}



/* Tabela */
main.table{
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: #fff5;
    backdrop-filter: blur(7px);
    box-shadow: 0 0.5vh 1vh #0005;
    border-radius: 2vh;
    overflow: hidden;
}

.table__header{
    position: relative;
    top: -1vh;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.table__header h1{
    color: #122BAD;
}

.table__header .input-group{
    width: 35%;
    background-color: #fff5;
    padding: 1.5vh;
    border-radius: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s;
}
.table__header .input-group:hover{
    width: 45%;
    background-color: #fff8;
    box-shadow: 0 .1rem .4rem #0002;
}
.table__header .input-group i{
    position: relative;
    font-size: 2vh;
    right: 1vh;
}
.table__header .input-group input{
    width: 100%;
    padding: 1vh;
    background-color: transparent;
    border: none;
    outline: none;
}


.btn-editar, .btn-excluir{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.8vh;
    shape-outside: circle();
    clip-path: circle();
    border-radius: 1vh;
    margin: 1vh;
    border: none;
    z-index: 0;
}
.btn-editar:hover, .btn-excluir:hover{
    transform: scale(1.1);
}
.btn-editar i, .btn-excluir i{
    color: #fff;
    font-size: 2.6vh;
    margin-top: 0.5vh;
}
.btn-editar{
    background-color: #00BF63;
}
.btn-excluir{
    background-color: #FF3131;
}


/* Cards */
.card{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 5vh;
}
.card .foto img{
    width: 32vh;
    border-top-left-radius: 3vh;
    border-top-right-radius: 3vh;
}
.area-conteudo{
    position: relative;
    bottom: 4vh;
    border-radius: 3vh;
    background-color: #fff;
    padding: 3vh;
    padding-top: 2vh;
    padding-bottom: 0;
    width: 32vh;
    box-shadow: 0 0.5vh 1vh #0005;
}
.card .area-conteudo .dados{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.area-conteudo .info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-family: Poppins;
}
.area-conteudo .info .nome{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.area-conteudo .info .nome h3{
    font-size: 2.6vh;
    font-weight: bold;
    color: #004FDA;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 9.6vw;
}
.area-conteudo .local{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1vh;
}
.area-conteudo .local i{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3vh;
    color: #F58614;
    bottom: 0.2vh;
}
.area-conteudo .local p{
    font-size: 2vh;
    color: #000;
    font-weight: 100;
    margin-left: 0.5vh;
}
.area-conteudo .area-botoes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.area-conteudo .botao-modal{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F58614;
    padding: 1vh;
    border-radius: 3vh;
    margin-left: 3vh;
    margin-right: 3vh;
    margin: 2vh;
}
.area-conteudo .botao-modal:hover{
    transform: scale(1.1);
}
.area-conteudo .botao-modal p{
    font-family: Regular;
    font-size: 2.2vh;
    color: #fff;
    margin-left: 2vh;
    margin-right: 0.5vh;
}
.area-conteudo .botao-modal i{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: #F58614;
    shape-outside: circle();
    clip-path: circle();
    padding: 0.5vh;
    padding-top: 0.8vh;
    font-size: 2.6vh;
    margin-left: 1vh;
    margin-right: 1vh;
}
.area-conteudo .btn-editar, .area-conteudo .btn-excluir{
    padding: 1.2vh;
    margin: 0;
}
.area-conteudo .btn-editar i, .area-conteudo .btn-excluir i{
    font-size: 2vh;
}



/* MOBILE */
@media (max-width: 1000px){

    /* Área Topo */
    .main{
        position: relative;
        min-width: 100%;
        max-width: 100%;
        height: auto;
        left: 0;
        transition: 0.5s;
    }
    .main.active .toggle{
        left: 28vw;
        position: relative;
        color: #fff;
        z-index: 20;
    }
    .main.active .toggle ion-icon{
        margin-left: 5vh;
        position: fixed;
        color: #fff;
    }
    .topbar{
        justify-content: flex-start;
    }
    .toggle{
        display: flex;
        margin-right: 12vw;
    }


    /* Menu Fixo Lateral */
    .navegation{
        display: none;
    }
    .navegation.active{
        display: block;
        width: 60vw;
        z-index: 10;
    }
    .navegation ul{
        margin-left: 1vh;
        margin-right: 1vh;
    }
    .navegation ul li{
        padding-left: 1vh;
        border-radius: 10vh;
        border-radius: 10vh;
    }
    .navegation ul li a{
        width: 100%;
    }
    .navegation ul li:hover a::before,
    .navegation ul li.hovered a::before,
    .navegation ul li:hover a::after,
    .navegation ul li.hovered a::after{
       display: none;
    }
    .navegation.active .logo{
        position: relative;
        margin-top: 3vh;
    }
    .navegation.active .logo img{
        width: 15vh;
    }
    .navegation.active .title-adm{
        display: block;
    }
    .navegation.active ul li a .icon{
        padding-left: 0.5vh;    
        padding-right: 0;
    }
    .navegation.active ul .title{
        display: block;
        padding-left: 1vh;
    }


    /* Barra de Pesquisa */
    .search label input{
        width: 60vw;
        padding: 1vh;
        padding-left: 6vh;
    }

    /* Títulos */
    .titulo-pagina{
        position: absolute;
        width: 100vw;
        top: 10vh;
        text-align: center;
    }
    .titulo-pagina span{
        font-size: 4.2vh;
    }
    .sub-titulo{
        position: relative;
        font-family: Park;
        font-size: 3.8vh;
        color: #004FDA;
        top: 6vh;
    }

    /* Conteúdo */
    .conteudo{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    /* Cards Box */
    .card-box{
        position: relative;
        top: 7vh;
    }
    .card-claro, .card-azul, .card-escuro{
        width: 30vh;
        margin-bottom: 2vh;
    }
    .card-box .card-conteudo img{
        width: 10vh;
    }
    .card-box .card-name{
        font-size: 2.5vh;
    }
    .card-box .number{
        font-size: 3.5vh;
    }

    /* Gráficos */
    #chartdiv2{
        width: 98vw;
        height: 50vh;
        margin-bottom: 5vh;
    }
    .titulo-graficos{
        margin-top: 15vh;
        text-align: center;
    }
    .titulo-graficos span{
        font-size: 3.2vh;
    }
 
}



/* Tabela */
table{
    width: 100%;
}
table .botao-modal{
    margin-top: 0;
}
tr{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.1vw solid #B5B5B3;
}
th{
    font-size: 1.2vw;
    color: #737373;
    font-weight: 200;
}
th, td{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 1vw 0;
}
th:nth-child(1), td:nth-child(1){
    width: 40vw;
}
table td img{
    width: 7vw;
    shape-outside: circle();
    clip-path: circle();
}
table .nome{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
table h3{
    font-size: 1.4vw;
    font-weight: bold;
    color: #004FDA;
    margin-right: 0.5vw;
}
table td i:nth-child(2){
    position: relative;
    top: 0.3vw;
    font-size: 1.6vw;
    color: #004FDA;
}
table span{
    font-weight: bold;
    color: #F58614;
}
.raca{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.raca p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 9.6vw;
    color: #000;
}
.botao-modal{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F58614;
    padding: 0.6vw 1.4vw;
    border-radius: 2vw;
    cursor: pointer;
    margin-left: 1vw;
}
.botao-modal:hover{
    transform: scale(1.1);
}
.botao-modal p{
    font-family: Regular;
    font-size: 1.2vw;
    color: #fff;
    width: 5vw;
}
.botao-modal i{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: #F58614;
    shape-outside: circle();
    clip-path: circle();
    padding: 0.2vw;
    font-size: 1.4vw;
}


/* Modal 

.fade, 
.modal{
    transition: .5s;
    opacity: 1;
    pointer-events: all;
}

.fade{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 5;
}

.modal{
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 10;
    background-color: #fff;
    transform: translate(-50%, -50%);
    width: 80vw;
    max-width: 90%;
    height: auto;
    max-height: 90vh;
    padding: 1.2rem;
    border-radius: 3vh;
}

.modal.hide,
.fade.hide{
    opacity: 0;
    pointer-events: none;
}

.modal.hide{
    top: 0;
}
*/

.modal-header{
    display: flex;
    justify-content: space-between;
}

.detalhe-modal img{
    width: 10vh;
}

.modal-header i{
    position: relative;
    top: 1vh;
    right: 2vh;
    font-size: 23px;
    color: #D9D9D9;
    z-index: 100;
}

.area-modal, 
.area-modal2{
    position: relative;
    display: flex;
    justify-content: space-between;
}
.modal-body1{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25vw;
    height: auto;
    margin: 0;
    padding: 0;
    left: 4vh;
}
.modal-body2{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: 4vh;
}
.modal-localizacao{
    position: relative;
    bottom: 4vh;
}

.area-foto{
    position: relative;
}

.area-foto img{
    shape-outside: circle();
    clip-path: circle();
    width: 30vh;
}

.nome-ong{
    text-align: center;
}
.nome-ong span{
    color: #001CAB;
    font-size: 3vh;
    font-weight: 500;
}
.nome-ong p{
    color: #000000;
    font-size: 2.8vh;
}

.titulo-localizacao{
    position: relative;
    justify-content:center;
    align-items: center;
    display: flex;
    margin-bottom: 4vh;
    right: 5vh;
}
.titulo-localizacao span{
    font-family: Regular;
    color: #001CAB;
    font-size: 3.6vh;
    margin-right: 1vh;
}
.titulo-localizacao i{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.5vh;
    color: #FF9705;
}

.conteudo-local{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 45vw;
    right: 3vh;
}
.conteudo-local span{
    color: #001CAB;
    font-size: 2.5vh;
}
.conteudo-local p{
    color: #000;
    font-size: 2.2vh;
}

.campo-local{
    width: 12vw;
    margin: 1vh 0;
}

.conteudo-info{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 25vw;
    bottom: 4vh;
}
.subtitulo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.campo-info{
    width: 12vw;
    margin: 1vh 0;
}
.campo-info span{
    color: #001CAB;
    font-size: 2.5vh;
    margin-right: 1vh;
}
.campo-info i{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.3vh;
    color: #FF9705;
}
.campo-info p{
    color: #000;
    font-size: 2.2vh;
}

.modal-mapa iframe{
    position: relative;
    width: 45vw;
    height: 35vh;
    right: 3vh;
}





/* Modal Excluir */
.modal-headerExcluir{
    position: relative;
}

.modal-headerExcluir i{
    position: relative;
    left: 93%;
    font-size: 20px;
    color: #D9D9D9;
    cursor: pointer;
    z-index: 100;
}

.area-fotoExcluir{
    position: relative;
    top: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.area-fotoExcluir img{
    width: 15vh;
}

.area-modalExcluir{
    position: relative;
    justify-content: space-between;
}

.modal-bodyExcluir{
    position: relative;
    justify-content: center;
    bottom: 5vh;
    margin: 0;
    padding: 0;
}

.excluir-info{
    position: relative;
    justify-content:center;
    align-items: center;
    display: flex;
    margin: 2vh;
    margin-top: 0;
}

.excluir-info span{
    position: relative;
    color: #000;
    font-size: 2.8vh;
    text-align: center;
}

.area-botoesExcluir{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.botao-modalExcluir, .botao-modalExcluir2{
    font-family: Poppins;
    outline: none;
    padding: 0.7vh;
    border-radius: 3vh;
    width: 20vh;
    font-size: 2.6vh;
    font-weight: 600;
    cursor: pointer;
    margin: 1.5vh;
}
.botao-modalExcluir{
    border: 2px solid #A6A6A6;
    background-color: transparent;
    color: #A6A6A6;
}
.botao-modalExcluir2{
    border: 2px solid #EA2D40;
    background-color: #EA2D40;
    color: #fff;
}

.botao-modalExcluir:hover,
.botao-modalExcluir2:hover{
    transform: scale(1.1);
}
