/* Fontes */
@font-face {
    font-family: National;
    src: url('../../css/fonts/NationalPark-Bold.otf');
  }
  @font-face {
    font-family: Park;
    src: url('../../css/fonts/NationalPark-Medium.otf');
  }
  @font-face {
    font-family: Poppins;
    src: url('../../css/fonts/Poppins-Regular.ttf');
  }
  
body{
    /* background-color: blue; */
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#container{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

#dados{
    width: 35%;
    height: 100%;
    background: rgb(0,1,128);
    background: linear-gradient(225deg, rgba(0,1,128,1) 61%, rgba(10,65,148,1) 100%);
    display: table;
   
}
#form-cad{
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    margin-top: 15%;

}
.imageContainer{
    /* background-color: rgb(0, 136, 255); */
    position: relative;
    width: 100px;
    height: 100px;
    align-self: center;
    margin-bottom: 5%;

}

#imgPhoto-login{
    width: 100%;
    height: 100%;
}

.input-dados{
    width: 65%;
    height: 6.3vh;
    background-color: #C8C8FF;
    border-color: transparent;
    border-radius: 28px;
    padding-left: 2%;
    padding-right: 2%;
    outline: 0;
    align-self: center;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 5%;
    
}

i{
    
    /* background-color: #d17111; */
    font-size: 3.5vh;
    color:#061E9D
}
.input{
    background-color: transparent;
    border-color: transparent;
    outline: 0;
    width: 80%;
    
}
.input::placeholder{
    color: #061E9D;
  font-size: 2.4vh;
  font-weight: 500;
  font-family: Poppins;
}

.cadastrar{
    width: 50%;
    padding: 2.2vh;
    color: #fff;
    background-color: #F58614;
    border-radius: 3vh;
    text-transform: uppercase;
    font-size: 2.5vh;
    font-family: Park;
    border: none;
    top: 90vh;
    margin-top: 3%;
    margin-bottom: 10vh;
    transition: 0.5s;
    /* position: absolute; */
    align-self: center;
  }
  
  .cadastrar:hover{
    background-color: #d17111;
    cursor: pointer;
  }


#complementos{
    width: 75%;
    height: 100vh;
    /* background-color: aqua; */
}

#bolinhas{
  position:absolute;
  width: 10%;
  right: 0;
}

#endereço{
  /* background-color: #061E9D; */
  height: 28%;
  padding: 3%;
}

h2{
  font-family: National;
  font-size: 4vh;
  color: #FB8830;
  margin-right: 2%;
  /* margin-top: 1vh; */
  margin-bottom: 1vh;
}

#form-end{
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  /* background-color: #000000; */
}

.campo-comp{
  /* background-color: purple; */
  width: 40%;
  margin-top: 1%; 
  border-bottom: 1.3px solid #004FDA;
  margin-right: 3%;
  
}



#num{
  /* background-color: #d17111; */
  height: 8%;
  padding-left: 3%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#prefere{
  /* background-color: aqua; */
  height: 64%;
  padding-left: 3%;
}

#formPrefere{
  /* background-color: #061E9D; */
  display: flex;
  flex-wrap: wrap;
}

.area-titulo{
  /* background-color: #061E9D; */
  display: flex;
  width: 300px;
}
.icons-form{
  width: 8%;
  margin-right: 2%;
}
label{
  font-family: 'Poppins';
  font-size: 2.3vh;
}
.coluna{
  margin-right:5% ;
}
.separador{
  border-color: #d17111;
  /* background-color: #004FDA; */
  margin-bottom: 2%;
  /* margin-right: 5%; */
}

.titulos{
  color:#004FDA
}
.select{
  background-color: #f8f8f8;
  border-color: #d17111;
  border-radius: 15px;
  width: 65%;
  height: 4vh;
  padding-left: 3%;
  font-family: 'Poppins';
  font-size: 2vh;
  margin-bottom: 3%;
}