* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;	
	font-family: Work Sans, sans-serif;
}

body{
    margin: 0;
    margin: 0;
    background-color: #F4F6FF;
    font-family: Verdana, Tahoma, sans-serif;
    justify-content: center;
    display: flex;
}

html,body{
    height: 100%;
    overflow-x: hidden;
}

/* MENU */
nav{
    position: fixed;
    margin-top: 28vh; 
    height: 50%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    /* background-color: #6926A3; */
    flex: 3vh;
    min-width: 5vh;
    left: 0;
}

ul{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
    left: 1vw;
}

li a{
    vertical-align: middle;
    text-decoration: none;
    background-color:#A6A6A6;
    margin-top: 5vh;
    margin-bottom: -2vh;
    left: 0%;
    border-radius: 20px;
    width: 100%; 
    height: 8vh;
    min-height: 30px;
    opacity: 0.2;
    transition: all 0.5s ;
    position: relative;
    display: flex;
    align-items: center;
}

li a:hover{
    background-color: #122BAD;
    transform: scale(1.1);
    opacity: 1;
    box-shadow: 0px 0px 30px #122cad5b;
}

#atual{
    vertical-align: middle;
    text-decoration: none;
    background-color: #122BAD;
    margin-top: 5vh;
    margin-bottom: -2vh;
    left: 0%;
    border-radius: 20px;
    width: 100%; 
    height: 15vh;
    min-height: 30px;
    opacity: 1;
    transition: all 0.5s ;
    position: relative;
    display: flex;
    align-items: center;
}
#atual:hover{
    transform: scale(1);
    opacity: 1;
    box-shadow: 0px 0px 30px #122cad5b;
}
.img_menu{
    vertical-align: middle;
    width: 60%;
    min-width: 30%;
    margin-left: 20%;
}

#container{
    /* background-color: aquamarine; */
    float: right;
    width: 95%;
    min-width: 250px;
    height: 100%;
    min-height: 550px;
    display: flex;
    flex-direction: column;
  
}

#topo{
    height: 5vw;
    /* background-color: #122BAD; */
    display: flex;
    justify-content: space-between;
    padding-right: 5%;
    align-items: center;

}
#logo{
    width: 5vw;
}

#barra-pesquisa{
    background-color: #fff;
    border-color: #bebebe;
    width: 50%;
    height: 50%;
    justify-content:space-between ;
    border-radius: 25px;
}

#pesquisa{
    background-color: transparent;
    border-color: transparent;
    width: 95%;
    height: 100%;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    padding-left: 1.5%;
    outline: none;
}

#btn-confg{
    background-color: transparent;
    border-color: transparent;
    width: 5vh;
}

#btn-confg i{
    
    /* background-color: #d17111; */
    font-size: 4vh;
    color:#FF9705
}
#btn-pesq{
    background-color: transparent;
    border-color: transparent;
}

#btn-pesq i{
    
    /* background-color: #d17111; */
    font-size: 2.5vh;
    color:#061E9D
}

#banner{
    width: 65%;
    height: 45%;
    /* background-color: #061E9D; */
    align-self: center;
    align-items: center;

}

.img-banner{
    width: 100%;
    align-self: center;
}

#area-opções{
    margin-top: 3vw;
    width:70%;
    height:30vh;
    align-self: center;
    align-content: center
}

.titulo{
    font-family: Regular;
    font-weight: 500;
    font-size: 1.5vw;
    text-align:center;
    color: #A6A6A6;
}
.item-nome{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.item-nome p{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3vw;
    color: #000;
    position: relative;
    bottom: 1vw;
}
#contet-op{
    display: flex;
    align-items: center;
    justify-content: center;
}
#contet-op .azul{
    background-color: #0967CF;
}
#contet-op .azulClaro{
    background-color: #38B6FF;
}
#contet-op .verde{
    background-color: #4ACB81;
}

.area-pets-home{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5vw;
    margin-top: 3vw;
}
.area-pets-home p{
    font-family: Regular;
    font-weight: 500;
    font-size: 1.4vw;
    color: #918e8e;
}

/* Home */
.item-procura{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 10vw;
    height: 10vw;
    margin: 2vw;
    padding: 1vw;
    background-color: #004FDA;
    cursor: pointer;
}
.item-procura img{
    width: 7vw;
    height: 7vw;
}
.item-procura:hover{
    transform: scale(1.1);
}

.mostrar-tudo{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.mostrar-tudo p{
    font-size: 1.2vw;
    color: #004FDA;
    margin-right: 0.7vw;
}
.mostrar-tudo i{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2vw;
    color: #004FDA;
}

.img-op{
    width: 90%;
}

.card{
    border: none;
    background-color: transparent;
}
.card .area-conteudo{
    width: 16vw !important;
}
.card-ong .area-conteudo{
    width: 17vw !important;
}

.banner{
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner img{
    width: 55vw;
}