/* Barra de Pesquisa */
.area-pesquisa-home{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    width: 98%;
}
.search{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 2vw;
    border: 0.1vw solid #E8E8E8;
    width: 24vw;
    font-size: 1.2vw;
    padding: 0 1vw;
}
.search input{
    font-family: Poppins;
    width: 100%;
    font-size: 1vw;
    padding: 0.6vw;
    border: none;
    outline: none;
    background-color: transparent;
}
.search i{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #004FDA;
    font-size: 1.2vw;
    cursor: pointer;
}
.area-pesquisa-home img{
    position: relative;
    top: 0.4vw;
    left: 0.4vw;
    width: 2.5vw;
    transform: scaleX(-1);
}
.config{
    position: relative;
    right: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vw;
    color: #F58614;
}
.config:hover{
    transform: scale(1.1);
    transition: all 0.5s;
    cursor: pointer;
}

/* Carrossel */
.carousel-container{
    position: relative;
    width: 80%;
    margin: auto;
    overflow: hidden;
    margin-top: 1vh;
}
.carousel-wrapper{
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide{
    min-width: 100%;
    box-sizing: border-box;
    text-align: center;
}
.slide img{
    width: 48vw;
}

.carousel-container button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #004FDA;
    color: #fff;
    border: none;
    outline: none;
    padding: 0.5vw;
    shape-outside: circle();
    clip-path: circle();
    cursor: pointer;
}
.carousel-container button:active{
    transform: translateY(-50%) scale(0.85);
}
.carousel-container button i{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5vw;
    color: #fff;
}

.prev{
    left: 1vw;
}
.next {
    right: 1vw;
}
