/* Ícones */
@import url('https://cdn-uicons.flaticon.com/2.0.0/uicons-bold-rounded/css/uicons-bold-rounded.css');
@import url('https://cdn-uicons.flaticon.com/2.0.0/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://cdn-uicons.flaticon.com/2.0.0/uicons-solid-rounded/css/uicons-solid-rounded.css');
@import url('https://cdn-uicons.flaticon.com/2.0.0/uicons-regular-rounded/css/uicons-regular-rounded.css');

/* Fontes */
@font-face {
    font-family: Montley;
    src: url('./fonts/MotleyForcesRegular.ttf');
}
@font-face {
    font-family: National;
    src: url('./fonts/NationalPark-Bold.otf');
}
@font-face {
    font-family: Park;
    src: url('./fonts/NationalPark-Medium.otf');
}
@font-face {
    font-family: Regular;
    src: url('./fonts/NationalPark-Regular.otf');
}
@font-face {
    font-family: Poppins;
    src: url('./fonts/Poppins-Regular.ttf');
}


/* Conteúdo */
body{
    position: relative;
    background-color: #F4F6FF;
    margin: 0;
    font-family: Poppins;
    overflow-x: hidden;
    height: auto;
}

/* Títulos */
h2{
    font-family: Regular;
    font-weight: 500;
    font-size: 1.6vw;
    color: #122BAD;
    text-align: center;
    margin: 0;
}
p{
    margin: 0;
}
a{
    text-decoration: none;
}
ul li{
    list-style-type: disc;
}
/* Menu Lateral */
nav{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 7vw;
    top: 0;
    left: 0;
    background-color: #F4F6FF;
    border-right: 0.1vw solid #D9D9D9;
    height: 100vh;
}
.logo{
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo img{
    width: 4vw;
    margin: 1vw;
}
nav ul{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100%;
}
nav ul li{
    list-style: none;
    margin: 3vh 1vw;
    padding: 0;
}
nav a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 40%;
}
nav ul a i{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.2vw;
    padding: 1vw;
    border-radius: 40%;
    color: #004FDA;
}
#atual i, nav i:hover{
    background-color: #F58614;
    color: #fff;
    transition: all 0.5s;
    cursor: pointer;
}

.container1{
    position: relative;
    left: 7vw;
    width: 73vw;
}
.container2{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20vw;
    height: 100vh;
    top: 0;
    right: 0;
    background-color: #F4F6FF;
    border-left: 0.1vw solid #D9D9D9;
    z-index: 2;
}
.container2 h2{
    color: #F58614;
    margin: 0;
    margin: 1vh 0;
    font-size: 1.5vw;
}

.sugestoes{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 55%;
    top: 1vh;
}
.titulo-sugestoes{
    width: 90%;
    padding-bottom: 1vh;
    border-bottom: 0.1vh solid #D9D9D9;
}
.sugestoes .bloco{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    padding: 2vh 0;
    border-bottom: 0.1vh solid #D9D9D9;
}
.sugestoes .bloco img{
    width: 3.5vw;
    height: 3.5vw;
    border-radius: 50%;
}
.sugestoes .bloco .pet{
    display: flex;
    align-items: center;
    justify-content: center;
}
.sugestoes .bloco .pet p{
    font-family: Regular;
    font-size: 1.3vw;
    color: #004FDA;
    margin-right: 0.5vw;
}
.sugestoes .bloco .pet i{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4vw;
}
.femea{
    color: #E76FB1;
}
.macho{
    color: #004FDA;
}


.sugestoes .botao-modal{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    width: 8.5vw;
    padding: 0.4vw;
    border-radius: 2vw;
    background-color: #F58614;
}
.sugestoes .botao-modal p{
    font-family: Regular;
    font-size: 1vw;
    color: #fff;
    margin-right: 0.3vw;
}
.sugestoes .botao-modal i{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1vw;
    padding: 0.2vw;
    color: #F58614;
    background-color: #fff;
    shape-outside: circle();
    clip-path: circle();
}
.sugestoes .botao-modal:hover{
    transform: scale(1.1);
    transition: all 0.5s;
    cursor: pointer;
}


/* Categorias */
.categorias{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.categorias .itens-categorias{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.categorias .item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 30%;
    margin: 1vh 1vw;
}
.categorias .item div:hover{
    transform: scale(1.1);
    transition: all 0.5s;
    cursor: pointer;
}
.categorias .item img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4vw;
    height: 4vw;
    padding: 0.6vw;
}
.categorias .item p{
    margin-top: 0.5vh;
    font-size: 1vw;
    color: #3d3b3b;
}

.item-ongs, .item-campanhas, .item-pets,
.item-anunciantes, .item-anuncios{
    border-radius: 50%;
}
.categorias .item-campanhas{
    background-color: #0967CF;
}
.categorias .item-ongs{
    background-color: #38B6FF;
}
.categorias .item-anunciantes{
    background-color: #4ACB81;
}
.categorias .item-anuncios{
    background-color: #A1A9FE;
}
.categorias .item-pets{
    background-color: #90E6B5;
}

.mostrar-tudo{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #004FDA;
    margin: 1vh 0;
}
.mostrar-tudo:hover{
    transform: scale(1.1);
    transition: all 0.5s;
    cursor: pointer;
}
.mostrar-tudo p{
    font-family: Regular;
    font-size: 1.2vw;
}
.mostrar-tudo i{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2vw;
    margin-left: 0.2vw;
}


/* Ícone Favoritos */
.icon-fav{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 15vw;
}
.icon-fav i{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5vw;
    padding: 0.5vw;
    shape-outside: circle();
    clip-path: circle();
    margin: 1vw;
    border: none;
    outline: none;
    cursor: pointer;
    color: #FF1927;
    background-color: rgba(255, 255, 255, 0.8);
}

::-webkit-scrollbar{
    width: 1vw;
}
::-webkit-scrollbar-track{
    background: #fff;
    border-radius: 1vw;
}
::-webkit-scrollbar-thumb{
    border-radius: .5vw;
    visibility: visible;
    background-color: #D9D9D9;
}

/* Área Filtros */
.area-filtros{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 3vw;
}
.icon-filtros{
    width: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-filtros i{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #004FDA;
    cursor: pointer;
    font-size: 1.5vw;
}
.icon-filtros i:hover{
    transform: scale(1.1);
    transition: all 0.5s;
}
.panel{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    top: 5vw;
    z-index: 1;
    width: 18vw;
    border-radius: 2vw;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #fff;
}
.panel span{
    font-family: Regular;
    font-size: 1.5vw;
    color: #004FDA;
    padding: 1vw;
}
.panel .campo-filtro{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1vw;
    width: 77%;
}
.panel .campo-filtro p{
    font-family: Regular;
    font-size: 1.3vw;
}
.panel .campo-filtro select{
    font-family: Poppins;
    width: 8vw;
    padding: 0.2vw;
    border-radius: 1vw;
    outline: none;
}
.panel .btns-filtro{
    display: flex;
    align-items: center;
    justify-content: center;
}
.panel .btns-filtro button{
    font-family: Regular;
    font-size: 1.2vw;
    border-radius: 2vw;
    border: none;
    outline: none;
    padding: 0.5vw;
    margin: 1vw 0.5vw;
    width: 7vw;
    border: 0.2vw solid #004FDA;
}
.panel .btns-filtro button:hover{
    transform: scale(1.1);
    transition: all 0.5s;
    cursor: pointer;
}
.panel .btns-filtro .fil-cancelar{
    background-color: transparent;
    color: #004FDA;
}
.panel .btns-filtro .fil-aplicar{
    background-color: #004FDA;
    color: #fff;
}

.container1{
    width: 92vw !important;
    transition: all 0.5s;
}
.container1.active{
    width: 82vw !important;
}
.container2{
    display: none;
    transition: all 0.5s;
}
.container2.active .categorias{
    transition: all 0.5s;
}
.container2.active{
    display: flex;
    transition: all 0.5s;
    width: 10vw;
}
.toggle{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    top: 20vh;
    right: 0;
    height: 10vh;
}
.icon-seta{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #70A2FF;
    border-top-left-radius: 1vw;
    border-bottom-left-radius: 1vw;
    z-index: 200;
}
.icon-seta i{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 0.5vw;
    font-size: 1.3vw;
}
.container1.active .icon-seta i{
    transform: rotate(180deg);
}
