@import url('https://cdn-uicons.flaticon.com/2.0.0/uicons-solid-rounded/css/uicons-solid-rounded.css');

.wrapper {
    position: relative;
    left: 7vw;
    position: fixed;
    width: 25vw;

    /*  height: 100vh; */

}

/* Area do Usuário */
.users {
    padding: 23px 30px;

}

.users header,
.users-list a {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    justify-content: space-between;
    border-bottom: 1px solid #cecdcd;

}

.wrapper img {
    object-fit: cover;
    border-radius: 50%;
}

:is(.users, .users-list) .content {
    display: flex;
    align-items: center;
}

.users header .content img {
    height: 50px;
    width: 50px;
}

:is(.users, .users-list) .details {
    margin-left: 15px;
    color: #000000;
    margin-top: 3%;
}

:is(.users, .users-list).details span {
    font-size: 18px;
    font-weight: 500;

}

.users .details .icon-pontinhos {
    margin-left: 885%;
}

.users .search {
    margin: 35px 0;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 3px;
    justify-content: space-between;
    border-bottom: 1px solid #cecdcd;

}

.users .search .text {
    font-size: 20px;
}

.users .search input {
    position: absolute;
    height: 40px;
    width: calc(111% - 50px);
    border: 1px solid #ccc;
    padding: 0 15px;
    font-size: 15px;
    outline: none;
    border-radius: 5vh;
    background-color: #f1f1f1;


}

.users-list {
    max-height: 730px;
    overflow: auto;

}

.users-list a {
    margin-bottom: 3px;
    padding-right: 15px;
    page-break-after: 5px;
    border-bottom-color: #ccc;
}

.users-list a:hover {
    background-color: rgba(236, 236, 236, 0.705);
    width: 100%;

}

.users-list a:last-child {
    border: none;
    margin-bottom: 0px;
}

.users-list a .content img {
    height: 40px;
    width: 40px;
}

.users-list a .content p {
    color: #525252;

}

/* AREA CHAT */
.wrapper-chat {
    position: relative;;
    left: 25vw;
    width: 68vw;
    top: 0;
    background-color: #fff;
    /*  height: 100vh; */
    box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
}

.chat-area header {
    display: flex;
    align-items: center;
    padding: 3vw;
}

.chat-area header img {
    height: 5vw;
    width: 5vw;
    border-radius: 50%;
}

.chat-area header span {
    font-size: 17px;
    font-weight: 500;
    margin-left: 15px;
}

.chat-area header img.hide,
.chat-area header span.hide,
.chat-area header p.hide {
    display:none
}

.chat-area header p {
    margin-left: 15px;
}

.chat-box {
    position: relative;
    background: url('../images/img-chat/fundo-chat.png') no-repeat;
    background-size: 100%;
    background-repeat: repeat;
    background-position: center center;
    bottom: 0;
    height: 73vh;
    overflow-y: auto;
    /*  background: rgba(241, 241, 241, 0.822); */
    padding: 10px 30px 20px 30px;
    box-shadow: inset 0 32px 35px -32px rgba(0, 0, 0, 0.1),
        inset 0 -32px 32px -32px rgba(0, 0, 0, 0.5);
}

.chat-box .chat p {
    word-wrap: break-word;
    padding: 10px 29px;
    box-shadow: 0 0 32px rgb(0 0 0 / 8%),
        0 16px 16px -16px rgb(0 0 0 / 10%);
}

.chat-box .outgoing {
    display: flex;
    align-items: center;
    margin-top: 10px;
    animation: .5s mensagem
}

@keyframes mensagem {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}

.outgoing .details {
    margin-left: auto;
    max-width: calc(100% - 130px);
}

.outgoing .details p {
    background-color: #2063d6;
    color: #fff;
    border-radius: 18px 18px 0 18px;
}

.chat-box .incoming {
    display: flex;
    align-items: center;
    margin-top: 10px;
    animation: .5s mensagem
}

.chat-box .incoming img {
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

.incoming .details {
    margin-left: 10px;
    margin-right: auto;
    max-width: calc(100% - 130px);
}

.incoming .details p {
    background-color: #f08c00;
    color: #fff;
    border-radius: 18px 18px 18px 0;
}

.chat-area .typing-area {
    padding: 18px 30px;
    display: flex;
    justify-content: space-between;
}

.typing-area input {
    height: 45px;
    width: calc(100% - 55px);
    font-size: 17px;
    border: 1px solid #ccc;
    padding: 0 13px;
    border-radius: 5vh;
    outline: none;

}
.typing-area button{
    border: none;
    outline: none;
    background-color: transparent;
}
.typing-area i{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vw;
    margin-left: 1vw;
    color: #525252;
    cursor: pointer;
}

.typing-area img:hover {
    transform: scale(1.1);
}
