@import url('https://cdn-uicons.flaticon.com/2.0.0/uicons-solid-rounded/css/uicons-solid-rounded.css');

body{
    overflow: hidden;
}

.wrapper{
    position: relative;
    top: 0;
    left: 7.2vw;
    position: fixed;
    width: 22vw;
    height: 100vh;
    background-color: #F4F6FF;
    border-right: 1px solid #cecdcd;
    z-index: 100;
}

/* Area do Usuário */
.users{
    padding: 1vw 2vw;
    height: auto;
    overflow-x: hidden;
    overflow-y: auto;
}
.users header,
.users-list a{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 18vw;
    padding: 1vw 0;
    border-bottom: 1px solid #cecdcd ;
}
.wrapper img{
    object-fit: cover;
    border-radius: 50%;
}
:is(.users, .users-list) .content{
    display: flex;
    align-items: center;
}
.users header .content img{
    height: 3vw;
    width: 3vw;
    border-radius: 50%;
}
:is(.users, .users-list) .details{
    margin-left: 1vw;
    color: #000000;
    margin-top: 3%;
}
:is(.users, .users-list).details span{
    font-size: 1.3vw;
    font-weight: 500;
}
:is(.users, .users-list).details p{
    font-size: 1.1vw;
    font-weight: 500;
    color: #525252;
}
.users .search{
    margin: 4vw 0;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}
.users .search .text{
    font-size: 1.2vw;
}
.users .search input{
    font-family: Poppins;
    position: absolute;
    width: 17vw;
    border: 1px solid #ccc;
    padding: 0.6vw 1vw;
    font-size: 1vw;
    outline: none;
    border-radius: 1.5vw;
    background-color: #f1f1f1;
}
.users-list{
    width: 20vw;
    height: 90vh;
    overflow: auto;
}
.users-list a{
    margin-bottom:  3px;
    padding-right: 15px;
    page-break-after: 5px;
    border-bottom-color: #ccc;  
}
.users-list a:hover{
    background-color: rgba(236, 236, 236, 0.705);
    width: 100%;
}
.users-list a:last-child{
    border: none;
    margin-bottom: 0px;
}
.users-list a .content img{
    height: 3vw;
    width: 3vw;
    border-radius: 50%;
}
.users-list a .content p{
    color: #525252;
}

/* AREA CHAT */
.wrapper-chat{
    position: relative;;
    left: 22vw;
    width: 71vw;
    height: 100vh;
    box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
}
.chat-area header{
    display: flex;
    align-items: center;
    padding: 1vw;
    padding-left: 2.5vw;
    height: 10vh;
}
.chat-area header img{
    height: 4vw;
    width: 4vw;
    border-radius: 50%;
}
.chat-area header span{
    font-size: 1.3vw;
    font-weight: 500;
    margin-left: 1vw;
}
.chat-area header p{
    margin-left: 1vw;
}
.chat-box{
    position: relative;
    background: url('../images/img-chat/fundo-chat.png') no-repeat;
    background-size: 100%;
    background-repeat: repeat;
    background-position: center center;
    bottom: 0;
    height: 68vh;
    overflow-y: auto;
   /*  background: rgba(241, 241, 241, 0.822); */
    padding: 10px 30px 20px 30px;
    box-shadow: inset  0 32px 35px -32px rgba(0,0,0,0.1),
                inset  0 -32px 32px -32px rgba(0,0,0,0.5);
}

.chat-box .chat p{
    word-wrap: break-word;
    padding: 10px 29px;
    box-shadow: 0 0 32px rgb(0 0 0 / 8%),
                 0 16px 16px -16px rgb(0 0 0 / 10%);
}
.chat-box .outgoing{
    display: flex;
}
.outgoing .details{
    margin-left: auto;
    max-width: calc(100% - 130px);
}
.outgoing .details p{
    background-color: #2063d6;
    color: #fff;
    border-radius: 1vw 1vw 0 1vw;
    margin: 1.5vw 0;
}
.chat-box .incoming{
    display: flex;
    align-items: center;
}
.chat-box .incoming img{
    height: 3vw;
    width: 3vw;
    border-radius: 50%;
}
.incoming .details{
    margin-left: 10px;
    margin-right: auto;
    max-width: calc(100% - 130px);
}
.incoming .details p{
    background-color: #f08c00;
    color: #fff;
    border-radius: 1vw 1vw 1vw 0;
    margin: 1.5vw 0;
}

.chat-area .typing-area{
    width: 68vw;
    margin: 0 1.5vw;
    height: 13vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.typing-area input{
    font-family: Poppins;
    width: 60vw;
    font-size: 1.2vw;
    border: 1px solid #ccc;
    padding: 0.7vw 1.5vw;
    border-radius: 1.5vw;
    outline: none;
    margin-right: 1.5vw;
    color: #ccc;
}
.typing-area button{
    background-color: transparent;
    border: none;
    outline: none;
}
.typing-area i{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vw;
    color: #525252;
    cursor: pointer;
}
.typing-area i:hover{
    transform: scale(1.1);
    transition: all 0.5S;
}
