/* Ícones */
@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css');
@import url('https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css');
@import url('https://cdn-uicons.flaticon.com/uicons-solid-straight/css/uicons-solid-straight.css');
@import url('https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css');

/* Fontes */
@font-face {
    font-family: Montley;
    src: url('./fonts/MotleyForcesRegular.ttf');
}
@font-face {
    font-family: National;
    src: url('./fonts/NationalPark-Bold.otf');
}
@font-face {
    font-family: Park;
    src: url('./fonts/NationalPark-Medium.otf');
}
@font-face {
    font-family: Regular;
    src: url('./fonts/NationalPark-Regular.otf');
}
@font-face {
    font-family: Poppins;
    src: url('./fonts/Poppins-Regular.ttf');
}
  


/* Conteúdo */
body{
    position: relative;
    background-color: #F4F6FF;
    margin: 0;
    font-family: Poppins;
    overflow-x: hidden;
    height: auto;
}


/* Títulos */
h2{
    font-family: Regular;
    font-weight: 500;
    color: #122BAD;
    text-align: center;
    margin: 0;
}
p{
    margin: 0;
}
a{
    text-decoration: none;
}

/* MENU */
nav{
    position: fixed;
    /* margin-top: 28vh;  */
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    /* justify-content: center; */
    background-color: #F4F6FF50;
    box-shadow: 1px 5px  #D9D9D9;
    flex: 3vh;
    min-width: 7vh;
    padding-left: 0.7%;
    padding-right: 0.5%;
    padding-top: 2%;
    left: 0;
}

ul{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15vh;
    list-style: none;
    right: 1.5vw;
}

li a{
    vertical-align: middle;
    text-decoration: none;
    background-color:#A6A6A6;
    margin-top: 5vh;
    margin-bottom: -2vh;
    left: 0%;
    border-radius: 20px;
    width: 100%; 
    height: 8vh;
    min-height: 30px;
    opacity: 0.2;
    transition: all 0.5s ;
    position: relative;
    display: flex;
    align-items: center;
}

li a:hover{
    background-color: #FB8830;
    transform: scale(1.1);
    opacity: 1;
    box-shadow: 0px 0px 30px #122cad5b;
}

#atual{
    vertical-align: middle;
    text-decoration: none;
    background-color: #FB8830;
    margin-top: 5vh;
    margin-bottom: -2vh;
    left: 0%;
    border-radius: 20px;
    width: 100%;
    opacity: 1;
    transition: all 0.5s ;
    position: relative;
    display: flex;
    align-items: center;
}
#atual:hover{
    transform: scale(1);
    opacity: 1;
    box-shadow: 0px 0px 30px #122cad5b;
}
.img_menu{
    vertical-align: middle;
    width: 60%;
    min-width: 30%;
    margin-left: 20%;
}
#div-logo{
    width: 100%;
    /* background-color: #000; */
    /* margin-left: -70%; */
    align-self: center;
    /* margin-top: -150%; */
    
}
#logo{
    width: 4vw;
    /* background-color: #000; */
    /* margin-left: -70%; */
    
    /* margin-top: -150%; */
    
}

/* Home */
.item-procura{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 10vw;
    height: 10vw;
    margin: 2vw;
    padding: 1vw;
    background-color: #004FDA;
    cursor: pointer;
}
.item-procura img{
    width: 10vw;
    height: 10vw;
}
.item-procura:hover{
    transform: scale(1.1);
}

.img-op:hover{
    transform: scale(1.5);
}

.mostrar-tudo{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.mostrar-tudo p{
    font-size: 1.2vw;
    color: #004FDA;
    margin-right: 0.7vw;
}
.mostrar-tudo i{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2vw;
    color: #004FDA;
}

/* Perfil */
/* TOPO */
.topo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.papel-parede img{
    width: 100vw;
    height: 32vh;
    object-fit: cover;
}
.topo .area-pesquisa{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    top: 1vw;
    margin: 0;
    width: 100%;
}
.modalOngPerfil .area-pesquisa{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 1vw;
    margin: 0;
    width: 100%;
}
.modalOngPerfil .seta{
    shape-outside: circle();
    clip-path: circle();
    padding: 0.4vw;
    background-color: rgba(255, 255, 255, 0.7);
}

.icons{
    display: flex;
    align-items: center;
    justify-content: center;
}
.icons i{
    display: flex;
    align-items: center;
    justify-content: center;
    shape-outside: circle();
    clip-path: circle();
    font-size: 1.3vw;
    padding: 0.7vw;
    margin: 0;
    border: none;
    outline: none;
    cursor: pointer;
}
.icons i:hover{
    transform: scale(1.1);
}
.icons .icon-phone{
    background-color: #CCFFE2;
    color: #4ACB81;
}
.icons .icon-chat{
    background-color: #FFE4C1;
    color: #F58614;
    margin: 0 0.5vw;
}
.icons .icon-comp{
    background-color: #B8D1FF;
    color: #122BAD;
}

.modalOngPerfil .icons i{
    font-size: 1.2vw;
    padding: 0.5vw;
}


.pets-ong{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1vw;
}
.pets-ong .area-campo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24vw;
    margin: 0 1vw;
}
.pets-ong h2{
    width: 100%;
}
.pets-ong .search{
    margin-left: 0;
}
.pets-ong .filtros{
    position: relative;
    right: 3vw;
}


/* Ícone Configurações */
.topo .area-pesquisa .icone-config i{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    shape-outside: circle();
    clip-path: circle();
    color: #F58614;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 0.6vw;
    font-size: 1.6vw;
    cursor: pointer;
    right: 2vw;
}
.icone-config i:hover{
    transform: scale(1.1);
}



/* ÁREA PERFIL */
.perfil{
    position: relative;
    bottom: 6vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-family: Poppins;
}

/* Foto Perfil */
.perfil img{
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    border: 0.4vw solid #F4F6FF;
}

/* Nome Perfil */
.perfil h2{
    font-size: 1.6vw;
    margin: 0;
}

/* Descrição Perfil */
.perfil p{
    font-size: 1vw;
    margin: 0.5vw;
    color: #000;
}

/* Seguidores */
.area-seguir{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 34vh;
    right: 1vw;
}
.seguidores{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1vw;
}
.area-seguir p{
    font-size: 1.2vw;
    color: #8B8B8B;
    margin-right: 1vw;
}
.area-seguir button{
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none; 
    border: none;
    border-radius: 2vw;
    padding: 0.5vw 1vw;
    font-size: 1.2vw;
    font-family: Regular;
    text-transform: uppercase;
    background-color: #004FDA;
    color: #fff;
    cursor: pointer;
}
.area-seguir button i{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2vw;
    color: #fff;
    margin-left: 0.5vw;
}
.area-seguir .icon-doacao i{
    display: flex;
    align-items: center;
    justify-content: center;
    shape-outside: circle();
    clip-path: circle();
    padding: 0.8vw;
    font-size: 1.5vw;
    background-color: #00BF63;
    color: #fff;
    cursor: pointer;
}
.area-seguir button:hover, .area-seguir .icon-doacao i:hover{
    transform: scale(1.1);
}


/* PREFERÊNCIAS */
.preferencias{
    position: relative;
    bottom: 3vw;
}

/* Títulos Preferências */
.preferencias h2{
    font-family: Regular;
    font-weight: 500;
    font-size: 1.4vw;
    color: #122BAD;
    text-align: center;
}

/* Linha com os Itens */
.preferencias .linha{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

/* Item */
.preferencias .item{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1.5vw;
}

/* Imagem do Item */
.preferencias .item img{
    width: 2.6vw;
    margin-right: 0.8vw;
}
.preferencias .item:nth-child(4) img{
    margin-right: 0;
}
.preferencias .item:nth-child(6) img{
    margin-right: 0.5vw;
}

/* Nome do Item */
.preferencias .item p{
    font-size: 1vw;
    width: auto;
    max-width: 9vw;
    color: #000;
}



/* INFORMAÇÕES */
.informacoes{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

/* Item */
.informacoes .item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30vw;
    border-radius: 1.6vw;
    margin: 1vw;
    cursor: pointer;
}
.informacoes .item:hover{
    transform: scale(1.05);
}

/* Imagem do Item */
.informacoes .item .icon-info{
    width: 7vw;
    margin-left: 1vw;
}

/* Bolinhas do Item */
.informacoes .item .bolinhas{
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: auto;
    height: 9vw;
    bottom: 0;
}
.informacoes .item .bolinhas img{
    position: relative;
    bottom: 0;
    width: 3.5vw;
}

/* Título do Item */
.informacoes .item h3{
    font-family: Regular;
    font-weight: 600;
    font-size: 1.7vw;
    color: #fff;
    width: 17vw;
    text-align: center;
    margin: 0 1vw;
}

/* Seta do Item */
.informacoes .item i{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.5vw;
    margin-right: 1vw;
}

/* Cores Item Favoritos */
.informacoes #favoritos{
    background-color: #FA9EA2;
}
.informacoes #favoritos i{
    color: #FE4A4B;
}

/* Cores Item Adotados */
.informacoes #adotados{
    background-color: #8CD2FF;
}
.informacoes #adotados i{
    color: #23498B;
}

/* Cores Item ONGs */
.informacoes #ongs{
    background-color: #98ACF8;
}
.informacoes #ongs i{
    color: #FF5D9C;
}



/* SUGESTÕES */
.sugestoes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 4vw;
}
.sugestoes h2{
    font-size: 1.8vw;
}

/* Cards */
#area-cards, #area-cards-ongs{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    width: 90vw;
    height: auto;
    margin: 0 5vw;
    margin-top: 2.5vw;
}
#area-cards-ongs{
    width: 95vw;
    margin: 0 2vw;
    margin-top: 3vw;
}
.card, .card-ong{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 1vw;
}
/* Ícone Favoritos */
.icon-fav{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 15vw;
}
.icon-fav i{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5vw;
    padding: 0.5vw;
    shape-outside: circle();
    clip-path: circle();
    margin: 1vw;
    border: none;
    outline: none;
    cursor: pointer;
    color: #FF1927;
    background-color: rgba(255, 255, 255, 0.8);
}

/* Foto do Pet */
.card-ong .foto img{
    width: 16vw;
    height: 13vw;
    border-top-left-radius: 1.5vw;
    border-top-right-radius: 1.5vw;
    box-shadow: 0 3px 6px #0005;
}
.card .foto img{
    width: 15vw;
    height: 14vw;
    border-top-left-radius: 1.5vw;
    border-top-right-radius: 1.5vw;
    box-shadow: 0 3px 6px #0005;
}


/* Conteúdo do Card */
.card-ong .area-conteudo{
    position: relative;
    bottom: 2vw;
    border-radius: 1.5vw;
    background-color: #fff;
    padding: 1vw;
    width: 15vw;
    box-shadow: 0 3px 6px #0005;
}
.card-ong .area-local{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.6vw;
}
.card-ong .area-conteudo .local{
    margin-left: 0.5vw;
}
.card-ong .area-conteudo .local p{
    max-width: 9vw;
}

.card .area-conteudo{
    position: relative;
    bottom: 2vw;
    border-radius: 1.5vw;
    background-color: #fff;
    padding: 1vw;
    width: 14vw;
    box-shadow: 0 3px 6px #0005;
}


/* Área do nome e gênero */
.area-conteudo .info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.5vw;
}

/* Nome do Pet */
.area-conteudo .nome{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}
.area-conteudo .nome h3{
    font-family: Park;
    font-size: 1.4vw;
    color: #004FDA;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 9.6vw;
    margin: 0;
    margin-right: 0.7vw;
}

/* Ícone Gênero */
.icon-macho i, .icon-femea i{
    display: flex;
    align-items: center;
    justify-content: center;
    shape-outside: circle();
    clip-path: circle();
    font-size: 1.4vw;
    padding: 1vw;
    margin: 0;
    border: none;
    outline: none;
    color: #fff;
}
.icon-macho i{
    background-color: #004FDA;
}
.icon-femea i{
    background-color: #E76FB1;
}

/* Localização */
.area-conteudo .local{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.area-conteudo .local i{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0.2vw;
    font-size: 1.1vw;
    color: #F58614;
}
.area-conteudo .local p{
    font-size: 1vw;
    color: #000;
    font-weight: 100;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 9.6vw;
    margin: 0.5vw;
    margin-left: 0.3vw;
}

/* Botão Saiba Mais */
.area-conteudo .area-btn-modal{
    display: flex;
    align-items: center;
    justify-content: center;
}
.area-conteudo .botao-modal{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5vw 1.5vw;
    background-color: #F58614;
    border-radius: 2vw;
    outline: none;
    border: none;
    margin: 0;
    margin-top: 0.5vw;
    cursor: pointer;
}
.area-conteudo .botao-modal:hover{
    transform: scale(1.1);
}
.area-conteudo .botao-modal p{
    color: #fff;
    font-family: Regular;
    font-size: 1.1vw;
    margin: 0;
    margin-right: 0.5vw;
}
.area-conteudo .botao-modal i{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F58614;
    background-color: #fff;
    font-size: 1.5vw;
    padding: 0.1vw;
    padding-top: 0.2vw;
    shape-outside: circle();
    clip-path: circle();
}

/* Card ONG*/
.btn-visitar{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-radius: 0;
    outline: none;
    border: none;
    margin: 0;
    font-family: Regular;
    font-size: 1.2vw;
    font-weight: 500;
    cursor: pointer;
    color: #F58614;
}
.btn-visitar i{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2vw;
    color: #F58614;
}
.btn-visitar:hover{
    transform: scale(1.1);
}

.imgs-telas img{
    position: absolute;
    width: 7vw;
    top: 0;
    right: 0;
}
.tela-fav .imgs-telas img{
    top: -4.5vw;
}

/* Modais */
.fade,
.modal,
.fadeExc,
.modalExc,
.fadeOngPerfil,
.modalOngPerfil{
    transition: .5s;
    opacity: 1;
    pointer-events: all;
}
.fade, 
.fadeExc,
.fadeAdocao,
.fadeOngs,
.fadeOngPerfil,
.fadeFav,
.fadeAdot,
.fadeSegOng{
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 5;
    transition: .3s;
}
.modal.hide, 
.modalOngPerfil.hide,
.modalExc.hide,
.tela-adocao.hide,
.tela-ongs.hide,
.tela-fav.hide, 
.tela-adot.hide, 
.tela-segOng.hide,
.fade.hide, 
.fadeOngPerfil.hide,
.fadeAdocao.hide,
.fadeOngs.hide,
.fadeFav.hide,
.fadeExc.hide,
.fadeAdot.hide,
.fadeSegOng.hide{
    opacity: 0;
    pointer-events: none;
}
.tela-adocao.hide,
.tela-ongs.hide,
.modal.hide, 
.modalExc.hide,
.modalOngPerfil.hide{
    top: 0;
}

.modal{
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 10;
    background-color: #F4F6FF;
    transform: translate(-50%, -50%);
    width: 80vw;
    height: auto;
    padding: 1.5vw;
    border-radius: 2vw;
}

.modalOngPerfil,
.tela-adocao, 
.tela-ongs,
.tela-fav, 
.tela-adot, 
.tela-segOng{
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    z-index: 10;
    background-color: #F4F6FF;
    padding: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 10;
}


.modalExc{
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 10;
    background-color: #F4F6FF;
    transform: translate(-50%, -50%);
    width: 30vw;
    height: auto;
    padding: 1.5vw;
    border-radius: 2vw;
}
.modalExc .modal-header{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.modalExc .area-excluir{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.modalExc .area-excluir h4{
    font-family: Regular;
    font-size: 1.5vw;
    color: #FF3131;
}
.modalExc .area-excluir p{
    color: #000;
    font-size: 1.2vw;
}
.modalExc .area-excluir i{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10vw;
    color: #FF3131;
}
.modalExc .area-excluir .underline::before {
    background: #FF3131;
}
.modalExc .area-excluir .botoes .btn-cancelar{
    background-color: transparent;
    color: #FF3131;
    border: 0.2vw solid #FF3131;
}
.modalExc .area-excluir .botoes .btn-excluir{
    background: #FF3131;
    color: #fff;
    border: 0.2vw solid #FF3131;
}



/* Modal ONGs */

/* Modal Adoção */
.seta{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    shape-outside: circle();
    clip-path: circle();
    font-size: 1.8vw;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    color: #F48503;
    cursor: pointer;
    left: 2vw;
}
.seta:hover{
    transform: scale(1.1);
}
/* Ícone Configurações */
.icone-config i{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    shape-outside: circle();
    clip-path: circle();
    color: #F58614;
    background-color: transparent;
    padding: 0;
    font-size: 2vw;
    cursor: pointer;
    margin: 0;
    right: 2vw;
}
.modal-topo{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 2vw 0;
    width: 100%;
    right: 1vw;
}
/* Barra de Pesquisa */
.area-pesquisa{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    top: initial;
    margin: 0;
    margin-top: 2vw;
    width: 100%;
}
.search{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 2vw;
    border: 0.1vw solid #E8E8E8;
    width: 24vw;
    font-size: 1.2vw;
    padding: 0 1vw;
    margin-left: initial;
}
.search input{
    font-family: Poppins;
    width: 100%;
    font-size: 1vw;
    padding: 0.6vw;
    border: none;
    outline: none;
    background-color: transparent;
}
.search i{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #004FDA;
    font-size: 1.2vw;
    cursor: pointer;
}

/* Filtros Pets */
.filtros{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1vw;
}
.filtros .item-filtro{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0.5vw;
    padding: 0.4vw 0.7vw;
    border-radius: 5vw;
    background-color: #B8D1FF;
    cursor: pointer;
}
.filtros .item-filtro img{
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    margin-right: 0.5vw;
}
.filtros .item-filtro p{
    font-size: 1.2vw;
    color: #004FDA;
}
.filtros .item-filtro:nth-child(1){
    background-color: #004FDA;
}
.filtros .item-filtro:nth-child(1) p{
    color: #fff;
}


.tela-adocao #area-cards{
    margin-top: 4vw;
}


/* Modal Saiba Mais */
.modal-header{
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 1vw;
}

.modal-header .icon-fav{
    position: relative;
    justify-content: center;
    width: auto;
}
.modal-header .icon-fav i{
    font-size: 1.8vw;
    padding: 0.7vw;
    margin: 0;
}
.modal-header .fechar-modal .fechar{
    position: relative;
    font-size: 1.7vw;
    color: #D9D9D9;
    cursor: pointer;
    z-index: 100;
}
.modal-header .fechar-modal .seta{
    display: none;
}

.modal-nome{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 1vw;
    bottom: 2.5vw;
}
.nome-pet{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 1vw;
    margin-top: 0.4vw;
}
.foto-modal{
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
}
.foto-modal img{
    width: 13vw;
    height: 13vw;
    border-radius: 50%;
    margin-bottom: 0.5vw;
}
.modal-nome h3{
    font-family: Park;
    font-size: 1.8vw;
    color: #004FDA;
    margin: 0.6vw 0;
}

.info .icon-macho i, .info .icon-femea i{
    display: flex;
    align-items: center;
    justify-content: center;
    shape-outside: circle();
    clip-path: circle();
    font-size: 1.2vw;
    padding: 0.8vw;
    margin: 0 0.5vw;
    border: none;
    outline: none;
    color: #fff;
}

.icon-comp i{
    display: flex;
    align-items: center;
    justify-content: center;
    shape-outside: circle();
    clip-path: circle();
    font-size: 1.4vw;
    padding: 1vw;
    margin: 0;
    border: none;
    outline: none;
    color: #fff;
    background-color: #F58614;
    cursor: pointer;
}
.icon-comp i:hover{
    transform: scale(1.1);
}

.modal-info{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 1vw;
}

.area-itens{
    display: flex;
    align-items: center;
    justify-content: center;
}
.area-itens .item{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 8vw;
    height: 6.5vw;
    border-radius: 1vw;
    padding: 0.6vw;
    padding-bottom: 0;
    margin: 0 0.5vw;
}
.area-itens .item h4{
    position: absolute;
    font-family: Regular;
    font-size: 1.2vw;
    margin: 0;
    top: 0.7vw;
}
.area-itens .item p{
    text-align: center;
    line-height: 1.4vw;
    font-size: 1vw;
    margin: 1vw 0;
    color: #000;
}
.area-itens .icon-patinha{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}
.area-itens .item i{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2vw;
    transform: rotate(330deg);
    bottom: 0.5vw;
}

.area-itens .item:nth-child(1){
    background-color: #FFDCAD;
}
.area-itens .item:nth-child(1) h4, 
.area-itens .item:nth-child(1) i{
    color: #F48503;
}

.area-itens .item:nth-child(2){
    background-color: #AAC8FF;
}
.area-itens .item:nth-child(2) h4, 
.area-itens .item:nth-child(2) i{
    color: #004FDA;
}

.area-itens .item:nth-child(3){
    background-color: #90E6B5;
}
.area-itens .item:nth-child(3) h4, 
.area-itens .item:nth-child(3) i{
    color: #095D40;
}

.area-itens .item:nth-child(4){
    background-color: #C8C8FF;
}
.area-itens .item:nth-child(4) h4, 
.area-itens .item:nth-child(4) i{
    color: #5E17EB;
}


.area-ong{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.area-ong img{
    position: relative;
    width: 6vw;
    height: 6vw;
    border-radius: 50%;
    left: 2vw;
}
.item-ong{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: auto;
    border-radius: 2vw;
    background-color: #fff;
    width: 24vw;
    height: 8vw;
    padding-left: 3vw;
}

.nome-ong{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
}
.nome-ong h3{
    font-family: Park;
    font-size: 1.2vw;
    color: #004FDA;
    margin: 0;
    margin-right: 1vw;
}

.info-pet{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.listas{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 80%;
    margin-top: 1vw;
}
.vacinas, .doencas{
    width: 50%;
    margin: 0 1vw;
}
.listas span{
    font-family: Park;
    font-size: 1.3vw;
    color: #F48503;
    padding-left: 1.5vw;
}
.listas ul{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0;
    padding-left: 1.5vw;
    height: 6vw;
    overflow-y: auto;
}
.listas li::marker{
    color: #F48503;
}
.listas li{
    font-family: Poppins;
    font-size: 1.1vw;
    color: #000;
    list-style: circle;
    margin: 0.3vw 0;
}



.info-ong{
    display: flex;
    align-items: center;
    justify-content: center;
}
.item-ong .local{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.item-ong .local i{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0.2vw;
    font-size: 1.1vw;
    color: #F58614;
}
.item-ong .local p{
    font-size: 1vw;
    color: #000;
    font-weight: 100;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 14vw;
    margin: 0.5vw;
    margin-left: 0.3vw;
}

/* Descrição do Pet */
.area-descricao{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin-left: 3vw;
}
.area-descricao span{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-size: 1.1vw;
    color: #000;
    width: 30vw;
    transition: all .5s;
    overflow-y: auto;
    height: 6vw;
    margin-top: 1vw;
    font-family: Poppins;
}
.area-descricao a{
    font-weight: bold;
    color: #004FDA;
    cursor: pointer;
    width: 100%;
}

.area-descricao .short-text p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.area-descricao .full-text{
    display: none;
}

.area-descricao span::-webkit-scrollbar,
.listas ul::-webkit-scrollbar{
    width: 0.5vw;
}
.area-descricao span::-webkit-scrollbar-track,
.listas ul::-webkit-scrollbar-track{
    background: #fff;
    border-radius: 1vw;
}
.area-descricao span::-webkit-scrollbar-thumb,
.listas ul::-webkit-scrollbar-thumb{
    background: #e7e6e6;
    border-radius: 1vw;
}




.area-botoes{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.area-botoes button{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Regular;
    font-size: 1.3vw;
    text-transform: uppercase;
    padding: 0.6vw 1.4vw;
    margin: 0 1vw;
    border-radius: 2vw;
    border: none;
    outline: none;
    background-color: #004FDA;
    color: #fff;
    cursor: pointer;
}
.area-botoes button i{
    display: flex;
    align-items: center;
    justify-content: center;
    shape-outside: circle();
    clip-path: circle();
    padding: 0.5vw;
    font-size: 1.2vw;
    color: #004FDA;
    background-color: #fff;
    margin-left: 0.6vw;
}
.area-botoes button:hover{
    transform: scale(1.1);
}


/* NOTIFICAÇÕES */
.titulo-not{
    display: flex;
    align-items: center;
    justify-content: center;
}
.titulo-not h2{
    position: relative;
    margin: 2vw 0;
    width: 70%;
}
.img-not-left, .img-not-right{
    position: absolute;
    top: 0;
    width: 4vw;
}
.img-not-left{
    left: 0;
    transform: scaleX(-1);
}
.img-not-right{
    right: 0;
}

.area-not{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    margin-top: 2vw;
}
.area-not h3{
    position: relative;
    font-family: Regular;
    font-size: 1.3vw;
    font-weight: 500;
    color: #737373;
    margin: 0;
    width: 55vw;
    text-align: left;
    padding-left: 1vw;
    margin-bottom: 0.5vw;
}
.area-not .area-item{
    display: flex;
    align-items: center;
    justify-content: center;
}
.area-not .item-not{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 55vw;
    height: 4vw;
    margin: 0.5vw 0;
    padding: 0.7vw 1vw;
    border-radius: 1vw;
    background-color: #fff;
}
.area-not .bolinha-not{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #122BAD;
}
.area-not .bolinha-not span{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 0.8vw;
    height: 0.8vw;
    shape-outside: circle();
    clip-path: circle();
    background-color: #F48503;
    right: 1vw;
}
.area-not .item-not .area-foto{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}
.area-not .item-not img{
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
}
.area-not .item-not h4{
    font-size: 1.2vw;
    font-weight: 600;
    color: #122BAD;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 12vw;
    margin-left: 1vw;
}
.area-not .item-not p{
    font-size: 1vw;
    color: #3B3B3B;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 14vw;
}
.area-not .item-not span{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-size: 0.8vw;
    font-weight: 600;
    color: #004FDA;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 9vw;
    height: 100%;
}
/* Notificações Lidas */
.area-not .lida .bolinha-not{
    display: none;
}
.area-not .lida{
    opacity: 0.6;
}
.area-not .lida h4{
    color: #737373;
}
.area-not .lida span{
    color: #888888;
    font-weight: 100;
}


/* CONFIGURAÇÕES */
header{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    top: 0;
    left: 0;
    width: 23vw;
    height: 100%;
    border-right: 0.1vw solid #c4c2c2;
}
header .voltar{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8vw;
    color: #F48503;
    top: 0;
    left: 1vw;
    height: 4vw;
    cursor: pointer;
}
header a{
    width: 100%;
    text-decoration: none;
    cursor: pointer;
}
header h2{
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center; 
    font-size: 1.5vw;
    height: 10%;
    top: 2vh;
}
header .info-user{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 25%;
    bottom: 1.5vh;
}
header .info-user img{
    width: 6.5vw;
    height: 6.5vw;
    border-radius: 50%;
}
header .info-user h4{
    font-family: Regular;
    font-size: 1.2vw;
    font-weight: 500;
    color: #122BAD;
    margin: 0;
    margin-top: 1vh;
}
header .info-user p{
    font-size: 1vw;
    color: #737373;
}
header h3{
    font-family: Regular;
    font-size: 1.3vw;
    font-weight: 500;
    color: #F48503;
    margin: 0;
    text-align: left;
    width: 100%;
}
header .area-itens{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; 
    width: 90%;
    height: 60%;
    bottom: 1vh;
}
header .item-config{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 1vh 0;
}
header .item-config .icon-item{
    display: flex;
    align-items: center;
    justify-content: center;
    shape-outside: circle();
    clip-path: circle();
    padding: 0.6vw;
    font-size: 1.5vw;
    color: #ffce65;
    background-color: #749EEB;
}
header .item-config p{
    font-size: 1.1vw;
    color: #000;
    text-align: left;
    width: 100%;
    margin: 0 1vw;
}
header .item-config .icon-seta{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2vw;
    color: #888888;
}
header .pata-amarela{
    position: relative;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    width: 100%;
    height: 10%;
}
header .pata-amarela img{
    position: relative;
    left: 0;
    bottom: 0;
    width: 10vh;
    transform: scaleY(-1);  
}

/* Botão Modo Escuro */
header input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
    cursor: pointer;
}
header label{
    cursor: pointer;
    width: 7vw;
    height: 2vw;
    background: #c4c2c2;
    display: block;
    border-radius: 2vw;
    position: relative;
}
header label:after{
    content: '';
    position: absolute;
    top: 0.3vw;
    left: 0.3vw;
    width: 1.5vw;
    height: 1.5vw;
    background: #fff;
    border-radius: 50%;
    transition: 0.3s;
} 
header input:checked + label{
    background: #F48503;
}
header input:checked + label:after{
    left: calc(100% - 0.5vw);
    transform: translateX(-100%);
}
header label:active:after{
    width: 4vw;
}

/* EDITAR PERFIL */
main{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 77vw;
    left: 23vw;
}
main .pata-amarela{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 76vw;
    height: auto;
    margin: 0;
}
main .pata-amarela img{
    position: relative;
    right: 0;
    top: 0;
    width: 10vh;
    transform: scalex(-1);  
}
main i{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vw;
    left: 1vw;
    color: #F48503;
    height: 100%;
    cursor: pointer;
    z-index: 10;
}
.voltar:hover, .main i:hover{
    transform: scale(1.1);
}
main h2{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
main h3{
    font-family: Regular;
    font-size: 1.4vw;
    font-weight: 500;
    color: #004FDA;
    margin: 0;
    margin-top: 2vw;
    margin-left: 2.5vw;
}

/* CSS IMAGEM DE PERFIL */
.imageContainer{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1vw;
}
.imageContainer label{
    position: relative;
    color: #001CAB;
    font-size: 1.3vw;
    margin-top: 0.5vw;
}
#area-foto{
    width: auto;
    position: relative;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#imgPhoto{
    width: 10vw;
    height: 10vw;
    padding: 0.5vw;
    border: 0.3vw solid #122BAD;
    cursor: pointer;
    transition: background .3s;
    border-radius: 50%;
}
#imgPhoto:hover{
    background-color:#d7e5ff;
    transform: scale(1.1);
}
input[type='file']{
    display: none;
}

/* Campos Editar Usuário */
.linhas{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.input-field {
    position: relative;
    width: 15vw;
    margin: 1vw 2vw;
    flex-direction: column;
    display: flex;
}
.input-field label{
    position: relative;
    color: #001CAB;
    font-size: 1.3vw;
}
.input-field .underline::before {
    content: '';
    position: absolute;
    height: 1px;
    width: 15vw;
    bottom: -5px;
    left: 0;
    background: #F58614;
}
.input-field input {
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 1.2vw;
    font-family: Poppins;
    color: #8A8A8A;
    width: 100%;
}

/* Botões */
.botoes{
    display: flex;
    align-items: center;
    justify-content: center;
}
.botoes button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.7vw 2vw;
    font-family: Park;
    font-size: 1.5vw;
    border-radius: 2vw;
    border: 0.2vw solid #004FDA;
    outline: none;
    margin: 1vw;
    width: 10vw;
    cursor: pointer;
}
.botoes button:hover{
    transform: scale(1.1);
}
.botoes .btn-cancelar{
    background-color: transparent;
    color: #004FDA;
}
.botoes .btn-salvar{
    background-color: #004FDA;
    color: #fff;
}


/* MOBILE */
@media (max-width: 1000px){
    /* TOPO */
    .papel-parede img{
        height: 25vh;
    }
    .area-pesquisa{
        margin: 3vh 0;
    }

    /* Ícone Configurações */
    .topo .area-pesquisa .icone-config i{
        padding: 1vh;
        font-size: 3.5vh;
        right: 2vw;
    }

    /* Barra de Pesquisa */
    .search{
        border-radius: 2vh;
        border: 0.2vh solid #E8E8E8;
        width: 55vw;
        padding-left: 1vh;
        margin-left: 2vh;
    }
    .search input{
        font-size: 2vh;
        padding: 0.6vh;
    }
    .search i{
        font-size: 2vh;
    }



    /* ÁREA PERFIL */
    .perfil{
        bottom: 10vh;
    }

    /* Foto Perfil */
    .perfil img{
        width: 15vh;
        height: 15vh;
        border: 0.6vh solid #F4F6FF;
    }

    /* Nome Perfil */
    .perfil h2{
        font-size: 2.8vh;
    }

    /* Descrição Perfil */
    .perfil p{
        font-size: 2vh;
        margin: 0.5vh;
    }

    /* Ícones Perfil */
    .icons i{
        font-size: 2.5vh;
        padding: 1vh;
    }
    .icons .icon-chat{
        margin: 0 1vh;
    }
    .modalOngPerfil .icons i{
        font-size: 2.5vh;
        padding: 1vh;
    }

    /* Seguidores */
    .area-seguir{
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        top: initial;
        right: initial;
        bottom: 5vh;
    }
    .seguidores{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 0;
    }
    .area-seguir p{
        font-size: 2.5vh;
        margin-right: 1vw;
    }
    .area-seguir button{
        border-radius: 5vh;
        padding: 1vh 2vh;
        font-size: 2.5vh;
        margin: 0 2vh;
    }
    .area-seguir button i{
        font-size: 2.5vh;
        margin-left: 1vh;
    }
    .area-seguir .icon-doacao i{
        padding: 1.2vh;
        font-size: 2.5vh;
    }

    /* PREFERÊNCIAS */
    .preferencias{
        bottom: 5vh;
    }

    /* Títulos Preferências */
    .preferencias h2{
        font-size: 2.5vh;
    }

    /* Linha com os Itens */
    .preferencias .linha{
        margin: 0.2vh;
    }

    /* Item */
    .preferencias .item{
        justify-content: flex-start;
        margin: 0.1vh;
        width: 22vh;
    }

    /* Imagem do Item */
    .preferencias .item img{
        width: 4vh;
        margin-right: 1.2vh;
    }
    .preferencias .item:nth-child(4) img{
        margin-right: 1.2vh;
    }
    .preferencias .item:nth-child(6) img{
        margin-right: 1.2vh;
    }

    /* Nome do Item */
    .preferencias .item p{
        font-size: 2vh;
        width: auto;
        max-width: 42vw;
    }



    /* INFORMAÇÕES */
    /* Item */
    .informacoes .item{
        width: 45vh;
        border-radius: 2vh;
        margin: 1.3vh;
    }

    /* Imagem do Item */
    .informacoes .item .icon-info{
        width: 11vh;
        margin-left: 1vh;
    }

    /* Bolinhas do Item */
    .informacoes .item .bolinhas{
        height: 13vh;
    }
    .informacoes .item .bolinhas img{
        width: 5vh;
    }

    /* Título do Item */
    .informacoes .item h3{
        font-size: 3vh;
        width: 35vh;
        margin: 0 1vh;
    }

    /* Seta do Item */
    .informacoes .item i{
        font-size: 4vh;
        margin-right: 1vh;
    }



    /* SUGESTÕES */
    .sugestoes{
        margin-top: 6vh;
    }
    .sugestoes h2{
        font-size: 2.8vh;
    }

    /* Cards */
    #area-cards, #area-cards-ongs{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 98vw;
        margin: 0 1vw;
        margin-top: 5vh;
    }
    #area-cards-ongs{
        width: 98vw;
        margin: 0 1vw;
        margin-top: 5vh;
    }
    .card, .card-ong{
        margin: 0 1vh;
    }

    /* Ícone Favoritos */
    .card .icon-fav{
        width: 17vh;
    }
    .card .icon-fav i{
        font-size: 2.5vh;
        padding: 0.8vh;
        margin: 1vh;
    }

    /* Foto do Pet */
    .card-ong .foto img{
        width: 18vh;
        height: 15vh;
        border-top-left-radius: 2vh;
        border-top-right-radius: 2vh;
    }
    .card .foto img{
        width: 17vh;
        height: 17vh;
        border-top-left-radius: 2vh;
        border-top-right-radius: 2vh;
    }

    /* Conteúdo do Card */
    .card-ong .area-conteudo{
        position: relative;
        bottom: 2vh;
        border-radius: 2vh;
        padding: 1vh;
        width: 19vh;
    }
    .card-ong .area-local{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 1vh;
    }
    .card-ong .area-local .local{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
    }
    .card-ong .area-conteudo .local{
        margin-left: 1vh;
    }
    .card-ong .area-conteudo .local p{
        max-width: 12vh;
    }

    .card .area-conteudo{
        bottom: 2vh;
        border-radius: 2vh;
        padding: 1vh;
        width: 17vh;
    }

    /* Card ONG */
    .btn-visitar{
        font-size: 2.5vh;
    }
    .btn-visitar i{
        font-size: 2.5vh;
    }

    .imgs-telas img{
        position: absolute;
        width: 10vh;
        top: 0;
        right: -2vw;
    }
    .tela-fav .imgs-telas img{
        top: -6vh;
    }

    /* Área do nome e gênero */
    .area-conteudo .info{
        padding: 0 0.5vh;
    }

    /* Nome */
    .card .area-conteudo .nome h3{
        font-size: 2.5vh;
        max-width: 9.6vh;
        margin-right: 0.7vh;
    }
    .card-ong .area-conteudo .nome h3{
        font-size: 2.5vh;
        max-width: 18vh;
        margin-right: 0.7vh;
    }

    /* Ícone Gênero */
    .area-conteudo .icon-femea i,
    .area-conteudo .icon-macho i{
        font-size: 2vh;
        padding: 1vh;
        margin: 0;
    }

    /* Localização */
    .area-conteudo .local i{
        bottom: 0.2vh;
        font-size: 2vh;
    }
    .area-conteudo .local p{
        font-size: 1.6vh;
        max-width: 9.6vh;
        margin: 0.5vh;
        margin-left: 0.3vh;
    }

    /* Botão Saiba Mais */
    .area-conteudo .botao-modal{
        padding: 1vh 2vh;
        border-radius: 2vh;
        margin-top: 1vh;
    }
    .area-conteudo .botao-modal:hover{
        transform: scale(1.1);
    }
    .area-conteudo .botao-modal p{
        font-size: 2vh;
        margin-right: 0.5vh;
    }
    .area-conteudo .botao-modal i{    
        font-size: 2vh;
        padding: 0.2vh;
        padding-top: 0.3vh;
    }

    /* Modal Adoção */
    .seta{
        font-size: 4vh;
        left: 2vw;
    }
    /* Ícone Configurações */
    .icone-config i{
        font-size: 4vh;
        right: 2vw;
    }
    .modal-topo{
        padding: 2vw 0;
        width: 100%;
        right: 2vw;
    }
    .modal-topo h2{
        width: 70%;
    }

    /* Modal do Pet */
    .modal{
        width: 100%;
        max-width: 100%;
        height: 100%;
        max-height: 100%;
        padding: 0;
        border-radius: 0;
        overflow-x: hidden;
        overflow-y: auto;
    }

    /* Filtros Pets */
    .tela-adocao .area-pesquisa{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .filtros{
        margin-top: 3vh;
        margin-left: 0;
    }
    .filtros .item-filtro{
        margin: 0 0.5vh;
        padding: 0.5vh 1vh;
        border-radius: 6vh;
    }
    .filtros .item-filtro img{
        width: 5vh;
        height: 5vh;
        margin-right: 1vh;
    }
    .filtros .item-filtro p{
        font-size: 2.2vh;
    }

    /* Perfil ONG */
    .pets-ong{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 2vh;
    }
    .pets-ong .area-campo{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40vh;
        margin: 0 1vh;
    }
    .pets-ong h2{
        width: 100%;
    }
    .pets-ong .search{
        margin-top: 3vh;
        margin-left: 0;
    }
    .pets-ong .filtros{
        right: 0;
    }

    /* Modal Saiba Mais */
    .modal-header{
        position: absolute;
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-start;
        justify-content: space-between;
        padding: 3vw;
        width: 94vw;
        top: 0;
    }

    .modal-header .icon-fav{
        position: relative;
        justify-content: center;
        width: auto;
        z-index: 10;
    }
    .modal-header .icon-fav i{
        padding: 1vh;
        font-size: 3vh;
        margin: 0;
    }
    .modal-header .fechar-modal .fechar{
        display: none;
    }
    .modal .fechar-modal .seta{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 100;
        shape-outside: circle();
        clip-path: circle();
        padding: 0.8vh;
        font-size: 3.5vh;
        color: #F48503;
        background-color: rgba(255, 255, 255, 0.7);
    }

    .modal-nome{
        padding: 0;
        margin: 0;
        bottom: initial;
    }
    .nome-pet{
        position: relative;
        bottom: 2.5vh;
        padding: 1vh;
        margin-top: initial;
        background-color: #F4F6FF;
        border-top-left-radius: 5vh;
        border-top-right-radius: 5vh;
    }
    .foto-modal img{
        position: relative;
        object-fit: cover;
        width: 100vw;
        height: 30vh;
        border-radius: 0;
        margin-bottom: 0.5vh;
    }
    .modal-nome h3{
        font-size: 3.4vh;
        margin: 1vh 0;
    }

    .modal .icon-macho i, 
    .modal .icon-femea i,
    .modal .icon-comp i{
        font-size: 2.5vh;
        padding: 1.5vh;
        margin: 2vh;
    }

    .modal-info{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 1vh;
    }
    
    .area-itens{
        position: relative;
        flex-wrap: wrap;
        bottom: 3vh;
    }
    .area-itens .item{
        position: relative;
        border-radius: 2vh;
        width: 20vh;
        height: 14vh;
        max-width: 38vw;
        padding: 2vh 1vh;
        padding-bottom: 0;
        margin: 1vh;
    }
    .area-itens .item h4{
        position: absolute;
        font-size: 2.8vh;
        top: 1.5vh;
    }
    .area-itens .item p{
        position: absolute;
        font-size: 2.4vh;
        text-align: center;
        line-height: 3vh;
        top: 6vh;
        margin: 1vh;
    }
    .area-itens .item i{
        position: absolute;
        font-size: 2.4vh;
        bottom: 1vh;
    }


    .area-ong{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 4vh;
    }
    .area-ong img{
        position: relative;
        width: 13vh;
        height: 13vh;
        border-radius: 50%;
        left: 2vh;
    }
    .item-ong{
        border-radius: 2vh;
        width: 55vh;
        max-width: 60vw;
        height: 14vh;
        padding-left: 4vh;
        margin-right: 3vh;
    }

    .nome-ong{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 95%;
    }
    .nome-ong h3{
        font-size: 2.6vh;
        margin: 0;
        margin-right: 1vh;
    }
    .nome-ong i{
        font-size: 2.6vh;
        padding: 1vh;
        margin: 0;
    }
    .nome-ong .icon-phone{
        margin-right: 0.5vh;
    }

    .info-pet{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .listas{
        display: flex;
        align-items: flex-start;
        justify-content: center;
        width: 98%;
        margin-top: 1vh;
    }
    .vacinas, .doencas{
        width: 50%;
        margin: 0 1vh;
    }
    .listas span{
        font-size: 2.8vh;
        padding-left: 3vh;
    }
    .listas ul{
        margin: 0;
        padding-left: 3vh;
        height: 14vh;
        overflow-y: auto;
    }
    .listas li{
        font-size: 2.5vh;
    }

    .area-descricao span::-webkit-scrollbar,
    .listas ul::-webkit-scrollbar{
        width: 1vh;
    }
    .area-descricao span::-webkit-scrollbar-track,
    .listas ul::-webkit-scrollbar-track{
        border-radius: 1vh;
    }
    .area-descricao span::-webkit-scrollbar-thumb,
    .listas ul::-webkit-scrollbar-thumb{
        border-radius: 1vh;
    }



    .item-ong .local i{
        bottom: 0.2vh;
        font-size: 2vh;
    }
    .item-ong .local p{
        font-size: 2vh;
        max-width: 20vh;
        margin: 0.5vh;
        margin-left: 0.3vh;
    }


    .area-descricao{
        width: 95%;
        margin-left: 1vh;
    }
    .area-descricao span{
        font-size: 2.2vh;
        width: 90vw;
        height: 14vh;
        margin: 3vh 0;
    }
    .area-descricao a{
        font-weight: bold;
        color: #004FDA;
        cursor: pointer;
        width: 100%;
    }

    .area-botoes{
        margin-bottom: 2vh;
    }
    .area-botoes button{
        font-size: 2.5vh;
        padding: 1vh 1.8vh;
        margin: 1vh;
        border-radius: 4vh;
    }
    .area-botoes button i{
        padding: 1vh;
        font-size: 2.2vh;
        margin-left: 1vh;
    }


    /* CONFIGURAÇÕES */
    .menu-lateral{
        display: none;
    }
    header{
        width: 100vw;
    }
    header .voltar{
        font-size: 4vh;
        left: 1vw;
        height: 7vh;
    }
    header h2{
        font-size: 3vh;
    }
    header .info-user img{
        width: 14vh;
        height: 14vh;
    }
    header .info-user h4{
        font-size: 2.7vh;
    }
    header .info-user p{
        font-size: 2vh;
    }
    header h3{
        font-size: 2.8vh;
    }
    header .item-config .icon-item{
        padding: 1.5vh;
        font-size: 2.5vh;
    }
    header .item-config p{
        font-size: 2.4vh;
        margin: 0 3vw;
    }
    header .item-config .icon-seta{
        font-size: 2.4vh;
    }

    /* Botão Modo Escuro */
    header label{
        width: 14vh;
        height: 4vh;
        border-radius: 5vh;
    }
    header label:after{
        top: 0.8vh;
        left: 0.8vh;
        width: 2.5vh;
        height: 2.5vh;
    }
    header input:checked + label:after{
        left: calc(100% - 0.8vh);
    }
    header label:active:after{
        width: 2.8vh;
    }

    /* EDITAR PERFIL */
    main{
        width: 100vw;
        left: 0;
    }
    main i{
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 4vh;
        color: #F48503;
        top: 0;
        left: 1vw;
        height: 7vh;
        cursor: pointer;
    }
    main h2{
        height: 3vh;
        margin: 2vh 0;
    }
    main h3{
        font-size: 2.8vh;
        margin: 0;
        margin-top: 2vh;
        margin-left: 2vh;
    }

    /* CSS IMAGEM DE PERFIL */
    .imageContainer{
        margin-top: 1vh;
    }
    .imageContainer label{
        margin-top: 1vh;
        font-size: 2.2vh;
    }
    #area-foto{
        width: auto;
        position: relative;
        height: 30vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #imgPhoto{
        width: 15vh;
        height: 15vh;
        padding: 1vh;
        border: 0.5vh solid #122BAD;
        border-radius: 50%;
    }

    /* Campos Editar Usuário */
    .linhas{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .input-field {
        width: 18vh;
        margin: 2vh;
    }
    .input-field label{
        font-size: 2.4vh;
    }
    .input-field .underline::before {
        width: 18vh;
    }
    .input-field input {
        font-size: 2.2vh;
    }

    /* Botões */
    .botoes button{
        padding: 1vh 3vh;
        font-size: 2.5vh;
        border-radius: 5vh;
        border: 0.4vh solid #004FDA;
        margin: 1vh;
        width: 17vh;
    }
}

/*
.fi-rr-heart {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5vw;
    padding: 0.5vw;
    shape-outside: circle();
    clip-path: circle();
    margin: 1vw;
    border: none;
    outline: none;
    cursor: pointer;
    color: #FF1927;
    background-color: rgba(255, 255, 255, 1);
    z-index: 10;
    transition: color 0.3s;
}

.fi-sr-heart {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5vw;
    padding: 0.5vw;
    shape-outside: circle();
    clip-path: circle();
    margin: 1vw;
    border: none;
    outline: none;
    cursor: pointer;
    color: #FF1927;
    background-color: rgba(255, 255, 255, 1);
    transition: color 0.3s;
}
.fi-rr-heart:hover{
    display: none;
}

*/

 
