/* Fontes */
@font-face {
  font-family: National;
  src: url('../../css/fonts/NationalPark-Bold.otf');
}
@font-face {
  font-family: Park;
  src: url('../../css/fonts/NationalPark-Medium.otf');
}
@font-face {
  font-family: Poppins;
  src: url('../../css/fonts/Poppins-Regular.ttf');
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}

body::before{
  content: '';
  background-color: #fff;
  width: 100%;
  height: 100%;
  position: absolute;
  margin-top: 0;
  margin-bottom: 0;
  left: 0;
  right: 0;
}

.container{
  position: relative;
  overflow: hidden;
  top: 0;
  width: 100%;
  height: 100%;
}

.container:before{
  content: "";
  position: absolute;
  height: 300vh;
  width: 300vh;
  right: 45%;
  transform: translateY(-50%);
  background: linear-gradient(228deg, #0557DA 35%, rgb(115, 160, 233) 100%);
  transition: 1.8s ease-in-out;
  border-radius: 50%;
}

.pata{
  position: absolute;
  z-index: 20;
  top: 0;
  left: 0;
}
.pata img{
  width: 28vh;
}

.patinhas{
  position: absolute;
  z-index: 20;
  bottom: 3vh;
  left: 3vh;
}
.patinhas img{
  width: 10vh;
}

.bolinhas{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  bottom: 0;
  right: 0;
  height: 80vh;
}
.bolinhas img{
  width: 26vh;
}

.circulo{
  position: absolute;
  top: -8vh;
  right: -8vh;
}
.circulo img{
  width: 30vh;
}


.area-login{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
}
.login_body{
  position: relative;
  align-self: center;
  z-index: 90;
  top: 4vh;
  padding: 5vh;
  margin: 3vh;
  width: 60vh;
  border-radius: 5vh;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.logo-adm{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo-adm img{
  width: 22vh;
}

.login_body h2{
  font-family: National;
  font-size: 4vh;
  color: #122BAD;
  margin-top: 1vh;
  margin-bottom: 1vh;
  text-align: center;
}

.login_body input{
  width: 100%;
  padding: 2vh;
  color: #000;
  background-color: #E0EBFF;
  border: none;
  border-radius: 3vh;
  padding-left: 6.5vh;
  box-sizing: border-box;
  outline: none;
  font-family: Poppins;
}
.login_body input::placeholder{
  color: #122BAD;
  font-size: 2.2vh;
  font-weight: 500;
  font-family: Poppins;
}

.input_box, .input_box-senha{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3.5vh;
}

.input_box i, .input_box-senha-cad, .input_box-senha #btn-senha{
  font-size: 2.8vh;
  color: #122BAD;
}
.input_box-senha-cad{
  position: absolute;
  left: 2.5vh;
}
.input_box i{
  position: absolute;
  left: 2.5vh;
}
.input_box-senha #btn-senha{
  position: absolute;
  right: 2.5vh;
}
.input_box input[type=text], .input_box-senha input[type=password]{
  padding-left: 6.5vh;
}

.login_body button{
  width: 100%;
  padding: 2.2vh;
  color: #fff;
  background-color: #0557DA;
  border-radius: 3vh;
  text-transform: uppercase;
  font-size: 2.5vh;
  font-family: Park;
  border: none;
  margin-top: 2vh;
  margin-bottom: 2vh;
  transition: 0.5s;
}

.login_body button:hover{
  transform: scale(1.1);
  cursor: pointer;
}

.mensagem{
  font-family: Poppins;
  font-size: 2.6vh;
  color: #F48503;
  margin-top: 2vh;
  text-align: center;
}

#cadastre-se{
  /* background-color: #000; */
  width: 60vh;
  margin-top: 3vh;
  
}

#txt-cad{
  font-size: 2.5vh;
  font-weight: 500;
  font-family: Poppins;
  text-align: center;
}
.cadastrar{
  width: 100%;
  padding: 2.2vh;
  color: #fff;
  background-color: #F58614;
  border-radius: 3vh;
  text-transform: uppercase;
  font-size: 2.5vh;
  font-family: Park;
  border: none;
  top: 90vh;
  margin-bottom: 10vh;
  transition: 0.5s;
  /* position: absolute; */
}

.cadastrar:hover{
  transform: scale(1.1);
  cursor: pointer;
}

/* Mobile Site */
@media(max-width: 1000px){
  .container:before{
    transform: translateX(-50%);
    left: 20vh;
    bottom: 50vh;
    right: initial;
    top: initial;
    transition: 2s ease-in-out;
  }
  .pata img{
    width: 16vh;
  }
  .patinhas{
    display: none;
  }
  .bolinhas img{ 
    width: 7.5vh;
  }
  .circulo{
    display: none;
  }

  .area-login{
    bottom: 3vh;
  }
  .login_body{
    padding: 2.5vh;
  }

  .logo-adm img{
    width: 18vh;
  }

  .login_body h2{
    font-size: 4.5vh;
  }

  .login_body input{
    padding: 1.5vh;
  }
  .login_body button{
    padding: 2vh;
  }

}