/* Modais */
.fade, .modal,
.fadeEdit, .modalEdit,
.fadeExcluir, .modalExcluir,
.fadeExcCam, .modalExcCam,
.fadeVer, .modalVer,
.fadeCam, .modalCam{
    transition: .5s;
    opacity: 1;
    pointer-events: all;
}

.fade,
.fadeEdit,
.fadeExcluir,
.fadeExcCam,
.fadeVer,
.fadeCam{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 5;
}




.modal-fade {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Cor e opacidade do fundo escuro */
    z-index: 1; /* Garante que o fade esteja acima de outros elementos */
}

.modal-fade.hide {
    display: none;
}





.modal,
.modalEdit,
.modalExcluir,
.modalExcCam,
.modalVer,
.modalCam{
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 10;
    background-color: #fff;
    transform: translate(-50%, -50%);
    width: 80vw;
    max-width: 90%;
    height: auto;
    max-height: 90vh;
    padding: 1.2rem;
    border-radius: 3vh;
}

.modal.hide, .fade.hide,
.modalEdit.hide, .fadeEdit.hide,
.modalExcluir.hide, .fadeExcluir.hide,
.modalExcCam.hide, .fadeExcCam.hide,
.modalVer.hide, .fadeVer.hide,
.modalCam.hide, .fadeCam.hide{
    opacity: 0;
    pointer-events: none;
}

.modal.hide,
.modalEdit.hide,
.modalExcluir.hide,
.modalExcCam.hide,
.modalVer.hide,
.modalCam.hide{
    top: 0;
}




/* Modais Alterar */
.modal-header{
    display: flex;
    justify-content: space-between;
}

.detalhe-modal img{
    width: 10vh;
}

.titulo-modal span{
    color: #001CAB;
    font-size: 4vh;
    font-family: National;
}

.modal-header i{
    position: relative;
    top: 1vh;
    right: 2vh;
    font-size: 23px;
    color: #D9D9D9;
    cursor: pointer;
    z-index: 100;
}

.conteudo-modal{
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-left: 2vh;
    margin-right: 2vh;
    bottom: 2vh;
}
.modal-body1{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
}
.modal-body2{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
}

.area-foto{
    position: relative;
}
.area-foto img{
    width: 30vw;
    border-radius: 1.5vw;
}

.area-iconEditar{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 0;
}
.area-iconEditar i{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.6vh;
    shape-outside: circle();
    clip-path: circle();
    border-radius: 1vh;
    margin: 1vh;
    border: none;
    outline: none;
    z-index: 0;
    background-color: #FF9705;
    cursor: pointer;
    color: #fff;
    font-size: 2.4vh;
    bottom: 4vh;
    left: 8vh;
}

.area-add-fotos{
    position: relative;
    background-color: #fff;
    border: 2px solid #F58614;
    border-radius: 3vh;
    width: 35vw;
    height: auto;
    margin-top: 2vh;
    margin-bottom: 2vh;
}
.area-add-fotos .titulo-add{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.5vh;
}
.area-add-fotos .titulo-add p{
    color: #001CAB;
    font-size: 2.6vh;
    margin-right: 2vh;
}
.area-add-fotos .titulo-add i{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #001CAB;
    font-size: 3.5vh;
}
.area-add-fotos .galeria{
    position: relative;
    width: 100%;
    height: 30vh;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    overflow: auto;
    overflow: overlay;
}
.area-add-fotos .galeria img{
    width: 10vw;
    margin: 1.1vw;
    margin-right: 0;
    margin-top: 0;
    border-radius: 1vh;
}
.galeria::-webkit-scrollbar{
    width: 0.5rem;
    height: 0.5rem;
}
.galeria::-webkit-scrollbar-thumb{
    border-radius: .5rem;
    background-color: #0004;
    visibility: hidden;
}
.galeria:hover::-webkit-scrollbar-thumb{ 
    visibility: visible;
}

.titulo-info{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4vh;
}
.titulo-info span{
    color: #001CAB;
    font-size: 4vh;
    font-family: Park;
    margin-right: 2vh;
}
.titulo-info i{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4vh;
    color: #FF9705;
}

.modal-body2 .area-form{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 34vw;
}

form {
    position: relative;
    justify-content: space-between;
}

.input-field {
    position: relative;
    width: 15vw;
    margin: 1vh;
    margin-bottom: 4vh;
}
.input-field label{
    position: relative;
    color: #001CAB;
    font-size: 2.8vh;
}

.input-field .underline::before {
    content: '';
    position: absolute;
    height: 1px;
    width: 15vw;
    bottom: -5px;
    left: 0;
    background: #F58614;
}
/*
.input-field .underline::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background: #e17102;
    transform: scaleX(0);
    transition: all .3s ease-in-out;
    transform-origin: left;
}
*/
.input-field input:focus ~ .underline::after {
    transform: scaleX(1);
}


.input-field .campos-especie, .input-field .campos-genero{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    right: 3vh;
}
.input-field .campos-especie label, .input-field .campos-genero label{
    color: #8A8A8A;
    font-size: 2.5vh;
}

.input-field input {
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 2.5vh;
    font-family: Poppins;
    color: #8A8A8A;
    width: 100%;
}
.editar .informacoes{
    position: relative;
    top: 2vw;
}
.input-field .select-btn{
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    width: 100%;
}
.input-field .sBtn-text{
    font-size: 2.6vh;
    color: #001CAB;
}    
.input-field .select-btn i{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.8vh;
    color: #F58614;
    transition: 0.3s;
}
.input-field .titulo-select{
    color: #8A8A8A;
    font-size: 2.5vh;
}
.input-field.active .select-btn i{
    transform: rotate(-180deg);
}
.input-field .options{
    position: relative;
    padding: 20px;
    margin-top: 10px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 0 3px rgba(0,0,0,0.1);
    display: none;
}
.input-field.active .options{
    display: block;
}
.options .option{
    display: flex;
    height: 55px;
    cursor: pointer;
    padding: 0 16px;
    border-radius: 8px;
    align-items: center;
    background: #fff;
}
.options .option:hover{
    background: #F2F2F2;
}
.option i{
    font-size: 25px;
    margin-right: 12px;
}
.option .option-text{
    font-size: 18px;
    color: #333;
}
.area-botoes-modal{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.area-botoes-modal .botao-modal, 
.area-botoes-modal .botao-modal2{
    font-family: Regular;
    text-transform: uppercase;
    padding: 1.3vh;
    border-radius: 3vh;
    width: 21vh;
    font-size: 2.7vh;
    cursor: pointer;
}
.area-botoes-modal .botao-modal{
    border: 2px solid #0557DA;
    background-color: transparent;
    color: #0557DA; 
    margin-right: 2vh;
}
.area-botoes-modal .botao-modal2{
    border: 2px solid #0557DA;
    background-color: #0557DA;
    color: #fff;
}

.botao-modal:hover,
.botao-modal2:hover{
    transform: scale(1.1);
}



/* Modais Excluir */
.modalExcluir,
.modalExcCam{
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 10;
    background-color: #fff;
    transform: translate(-50%, -50%);
    width: 26vw;
    height: auto;
    padding: 1.2rem;
    border-radius: 3vh;
}

.modalExcluir .modal-header,
.modalExcCam .modal-header{
    position: relative;
}

.modalExcluir .modal-header i,
.modalExcCam .modal-header i{
    position: relative;
    left: 93%;
    font-size: 20px;
    color: #D9D9D9;
    cursor: pointer;
    z-index: 100;
}

.modalExcluir .area-foto,
.modalExcCam .area-foto{
    position: relative;
    top: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalExcluir .area-foto img,
.modalExcCam .area-foto img{
    width: 15vh;
}

.modalExcluir .area-modal,
.modalExcCam .area-modal{
    position: relative;
    justify-content: space-between;
}

.modalExcluir .modal-body,
.modalExcCam .modal-body{
    position: relative;
    justify-content: center;
    bottom: 5vh;
    margin: 0;
    padding: 0;
}

.modalExcluir .excluir-info,
.modalExcCam .excluir-info{
    position: relative;
    justify-content:center;
    align-items: center;
    display: flex;
    margin: 2vh;
    margin-top: 0;
}

.modalExcluir .excluir-info p,
.modalExcCam .excluir-info p{
    position: relative;
    color: #000;
    font-size: 1.3vw;
    text-align: center;
}
.modalExcluir .excluir-info span,
.modalExcCam .excluir-info span{
    color: #EA2D40;
}

.area-botoes{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.area-botoesExcluir{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.botao-modalExc, .botao-modalExc2{
    font-family: Poppins;
    outline: none;
    padding: 0.5vw;
    border-radius: 2vw;
    width: 10vw;
    font-size: 1.3vw;
    font-weight: 600;
    cursor: pointer;
    margin: 0.5vw;
}
.botao-modalExc{
    border: 2px solid #A6A6A6;
    background-color: transparent;
    color: #A6A6A6;
}
.botao-modalExc2{
    border: 2px solid #EA2D40;
    background-color: #EA2D40;
    color: #fff;
}

.botao-modalExc:hover,
.botao-modalExc2:hover{
    transform: scale(1.1);
    transition: all 0.5s;
}




/* Modais Ver Mais */
.modalVer{
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 10;
    background-color: #fff;
    transform: translate(-50%, -50%);
    width: 80vw;
    max-width: 90%;
    height: auto;
    max-height: 90vh;
    padding: 1.2rem;
    border-radius: 3vh;
}

.modalVer .modal-header{
    display: flex;
    justify-content: space-between;
}

.modalVer .detalhe-modal img{
    width: 10vh;
}

.modalVer .modal-header i{
    position: relative;
    top: 1vh;
    right: 2vh;
    font-size: 23px;
    color: #D9D9D9;
    cursor: pointer;
}

.modalVer .conteudo-modal{
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-left: 2vh;
    margin-right: 2vh;
    bottom: 2vh;
}
.modalVer .area-modal{
    position: relative;
    display: flex;
    justify-content: space-between;
}
.modalVer .modal-body1{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25vw;
    height: auto;
    margin: 0;
    padding: 0;
    left: 4vh;
}
.modalVer .modal-body2{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.modalVer .modal-pet{
    position: relative;
    bottom: 4vh;
}

.modalVer .area-foto{
    position: relative;
}
.modalCamp .area-foto img{
    width: 30vw !important;
    border-radius: 1.5vw !important;
}

.modalVer .nome-pet{
    text-align: center;
}
.nome-pet span{
    color: #001CAB;
    font-size: 3vh;
    font-weight: 500;
}
.modalVer .nome-pet p{
    color: #000000;
    font-size: 2.8vh;
}
.modalVer .titulo-pet{
    position: relative;
    justify-content:center;
    align-items: center;
    display: flex;
    margin-bottom: 4vh;
    right: 2vh;
}
.modalVer .titulo-pet span{
    font-family: Regular;
    color: #001CAB;
    font-size: 3.6vh;
    margin-right: 1vh;
}
.modalVer .titulo-pet i{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.5vh;
    color: #FF9705;
}

.modalVer .conteudo-pet{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 40vw;
    right: 3vh;
}
.modalVer .conteudo-pet span{
    color: #001CAB;
    font-size: 2.5vh;
}
.modalVer .conteudo-pet p{
    color: #000;
    font-size: 2.2vh;
}

.modalVer .conteudo-pet i{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5vh;
    color: #001CAB;
}

.modalVer .campo-pet{
    width: 12vw;
    margin: 1vh 0;
}

.modalVer .conteudo-info{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 25vw;
    left: 6vh;
}
.modalVer .subtitulo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.modalVer .campo-info{
    width: 12vw;
    margin: 1vh 0;
}
.modalVer .campo-info span{
    color: #001CAB;
    font-size: 2.5vh;
    margin-right: 1vh;
}
.modalVer .campo-info i{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.3vh;
    color: #FF9705;
}
.modalVer .campo-info p{
    color: #000;
    font-size: 2.2vh;
}

.modalVer .area-add-fotos{
    position: relative;
    background-color: #fff;
    border: 2px solid #F58614;
    border-radius: 3vh;
    width: 35vw;
    height: auto;
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-left: 16.5vh;
}
.modalVer .area-add-fotos .titulo-add{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.5vh;
}
.modalVer .area-add-fotos .titulo-add p{
    color: #001CAB;
    font-size: 2.6vh;
    margin-right: 2vh;
}
.modalVer .area-add-fotos .titulo-add i{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FF9705;
    font-size: 3.5vh;
}
.modalVer .area-add-fotos .galeria{
    position: relative;
    width: 100%;
    height: 30vh;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    overflow: auto;
    overflow: overlay;
}
.modalVer .area-add-fotos .galeria img{
    width: 10vw;
    margin: 1.1vw;
    margin-right: 0;
    margin-top: 0;
    border-radius: 1vh;
}
.modalVer .galeria::-webkit-scrollbar{
    width: 0.5rem;
    height: 0.5rem;
}
.modalVer .galeria::-webkit-scrollbar-thumb{
    border-radius: .5rem;
    background-color: #0004;
    visibility: hidden;
}
.modalVer .galeria:hover::-webkit-scrollbar-thumb{ 
    visibility: visible;
}


/* Modais Ver Mais */
.modalVer{
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 10;
    background-color: #fff;
    transform: translate(-50%, -50%);
    width: 80vw;
    max-width: 90%;
    height: auto;
    max-height: 90vh;
    padding: 1.2rem;
    border-radius: 3vh;
}

.modal-conteudo{
    width: 100%;
    position: relative;
    overflow-y: auto;
    max-height: 70vh;
}
.modal-conteudo::-webkit-scrollbar{
    width: 0.7vw;
}
.modal-conteudo::-webkit-scrollbar-track{
    background: transparent;
    border-radius: 1vw;
}
.modal-conteudo::-webkit-scrollbar-thumb{
    background: transparent;
    border-radius: 1vw;
}
.modal-conteudo:hover::-webkit-scrollbar-thumb{
    background: #e7e6e6;
}

.modalVer .modal-header,
.modalCam .modal-header{
    display: flex;
    justify-content: space-between;
}

.modalVer .detalhe-modal img,
.modalCam .detalhe-modal img{
    width: 10vh;
}

.modalVer .modal-header i,
.modalCam .modal-header i{
    position: relative;
    top: 1vh;
    right: 2vh;
    font-size: 23px;
    color: #D9D9D9;
    cursor: pointer;
}

.modalVer .conteudo-modal,
.modalCam .conteudo-modal{
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-left: 2vh;
    margin-right: 2vh;
    bottom: 2vh;
}
.modalVer .area-modal,
.modalCam .area-modal{
    position: relative;
    display: flex;
    justify-content: space-between;
}
.modalVer .modal-body1,
.modalCam .modal-body1{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 25vw;
    height: auto;
    margin: 0;
    padding: 0;
    left: 4vh;
}
.modalVer .area-modal .modal-body2,
.modalCam .area-modal .modal-body2{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.modalVer .modal-pet,
.modalCam .modal-cam{
    position: relative;
    top: 1vh;
}

.modalVer .area-foto,
.modalCam .area-foto{
    position: relative;
}

.modalVer .area-foto{
    bottom: 18vh;
}

.modalVer .area-foto img,
.modalCam .area-foto img{
    width: 20vw;
    border-radius: 1.5vw;
}

.modalVer .nome-pet,
.modalCam .nome-cam{
    text-align: center;
}
.modalVer .nome-pet{
    position: relative;
    bottom: 17vh;
}
.modalVer .nome-pet span{
    font-size: 3vh;
    font-weight: 500;
    color: #001CAB;
}
.nome-cam span{
    color: #001CAB;
    font-size: 3vh;
    font-weight: 500;
}
.modalVer .nome-pet p,
.modalCam .nome-cam p{
    color: #000000;
    font-size: 2.8vh;
}
.modalVer .titulo-pet,
.modalCam .titulo-cam{
    position: relative;
    justify-content:center;
    align-items: center;
    display: flex;
    margin-bottom: 4vh;
    right: 2vh;
}
.modalVer .titulo-pet span,
.modalCam .titulo-cam span{
    font-family: Regular;
    color: #001CAB;
    font-size: 3.6vh;
    margin-right: 1vh;
}
.modalVer .titulo-pet i,
.modalCam .titulo-cam i{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.5vh;
    color: #FF9705;
}

.modalVer .conteudo-pet,
.modalCam .conteudo-cam{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 40vw;
    right: 3vh;
}
.modalVer .conteudo-pet span,
.modalCam .conteudo-cam span{
    color: #001CAB;
    font-size: 2.5vh;
}
.modalVer .conteudo-pet p,
.modalCam .conteudo-cam p{
    color: #000;
    font-size: 2.2vh;
}

.modalVer .conteudo-pet i,
.modalCam .conteudo-cam i{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5vh;
    color: #001CAB;
}

.modalVer .campo-pet,
.modalCam .campo-cam{
    width: 12vw;
    margin: 1vh 0;
}

.modalVer .conteudo-info{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 25vw;
    left: 8vh;
    bottom: 25vh;
}

.modalCam .conteudo-info{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 25vw;
    left: 8vh;
}
.modalVer .subtitulo,
.modalCam .subtitulo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.modalVer .campo-info,
.modalCam .campo-info{
    position: relative;
    width: 12vw;
    margin: 1vh 0;
    bottom: 4vh;
}
.modalCam .campo-info-cam{
    position: relative;
    bottom: 6vh;
}
.modalVer .campo-info span,
.modalCam .campo-info span,
.modalCam .campo-info-cam span{
    color: #001CAB;
    font-size: 2.5vh;
    margin-right: 1vh;
    font-weight: 100;
}
.modalVer .campo-info i,
.modalCam .campo-info i,
.modalCam .campo-info-cam i{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.3vh;
    color: #FF9705;
}
.modalVer .campo-info p,
.modalCam .campo-info p,
.modalCam .campo-info-cam p{
    color: #000;
    font-size: 2.2vh;
}

.modalVer .area-add-fotos{
    position: relative;
    background-color: #fff;
    border: 2px solid #F58614;
    border-radius: 3vh;
    width: 35vw; 
    height: auto;
    top: 5vh;
}

.modalCam .area-add-fotos{
    position: relative;
    background-color: #fff;
    border: 2px solid #F58614;
    border-radius: 3vh;
    width: 35vw; 
    height: auto;
    top: 1vh;
    right: 6vh;
}
.modalVer .area-add-fotos .titulo-add,
.modalCam .area-add-fotos .titulo-add{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.5vh;
}
.modalVer .area-add-fotos .titulo-add p,
.modalCam .area-add-fotos .titulo-add p{
    color: #001CAB;
    font-size: 2.6vh;
    margin-right: 2vh;
}
.modalVer .area-add-fotos .titulo-add i,
.modalCam .area-add-fotos .titulo-add i{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FF9705;
    font-size: 3.5vh;
}
.modalVer .area-add-fotos .galeria,
.modalCam .area-add-fotos .galeria{
    position: relative;
    width: 100%;
    height: 30vh;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    overflow: auto;
    overflow: overlay;
}
.modalVer .area-add-fotos .galeria img,
.modalCam .area-add-fotos .galeria img{
    width: 10vw;
    margin: 1.1vw;
    margin-right: 0;
    margin-top: 0;
    border-radius: 1vh;
}
.modalVer .galeria::-webkit-scrollbar,
.modalCam .galeria::-webkit-scrollbar{
    width: 0.5rem;
    height: 0.5rem;
}
.modalVer .galeria::-webkit-scrollbar-thumb,
.modalCam .galeria::-webkit-scrollbar-thumb{
    border-radius: .5rem;
    background-color: #0004;
    visibility: hidden;
}
.modalVer .galeria:hover::-webkit-scrollbar-thumb,
.modalCam .galeria:hover::-webkit-scrollbar-thumb{ 
    visibility: visible;
}



.area-descricao{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 28vw;
}
.area-descricao .short-text p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 25vw;
}
.area-descricao .full-text{
    display: none;
    width: 25vw;
}
.area-descricao .read-more, .area-descricao .read-less{
    font-size: 1vw;
    color: #0053c7;
    font-weight: bolder;
    text-decoration: none;
}


/* Modal Editar Campanhas */
.editar .modal-header img{
    width: 5vw;
}
.editar .modal-header span{
    font-size: 1.8vw;
}
.editar .modal-body1 .area-campos, .editar .area-form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 40vw;
    bottom: 3vw;
    background-color: #004FDA;
}
.editar .area-form{
    position: relative;
    bottom: 4vw;
    width: 30vw;
}
.editar .titulo-info{
    margin-top: 1vw;
}
.editar .titulo-info span{
    font-size: 1.6vw;
}
.editar .titulo-info i{
    font-size: 1.4vw;
}
.editar .modal-body1{
    width: 30vw;
}
.editar  .input-field {
    position: relative;
    width: 13vw;
    margin: 1vw;
    float: left;
}
.editar .input-field label{
    position: relative;
    color: #001CAB;
    font-size: 1.2vw;
}
.editar  .input-field .underline::before {
    content: '';
    position: absolute;
    height: 1px;
    width: 13vw;
    bottom: -5px;
    left: 0;
    background: #F58614;
}

.editar .modal-body2{
    width: 45vw;
}
.editar .area-add-fotos .galeria{
    height: 8vw;
}
.editar form .titulo-info{
    position: relative;
    bottom: 3vw;
}
.editar .area-botoes-modal{
    position: relative;
    top: 3vw;
}




/* Barra de Pesquisa */
.table__header{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 6vh;
}
.table__header h1{
    color: #122BAD;
}
.table__header .input-group{
    width: 26vw;
    background-color: #fff;
    padding: 0.8vw;
    border-radius: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s;
}
.table__header .input-group:hover{
    width: 34vw;
    background-color: #fff8;
    box-shadow: 0 .1rem .4rem #0002;
}
.table__header .input-group i{
    position: relative;
    font-size: 1vw;
    right: 0.6vw;
}
.table__header .input-group input{
    width: 100%;
    padding: 0.4vw;
    background-color: transparent;
    border: none;
    outline: none;
}




/* Tabela */
table{
    width: 100%;
}
table .botao-modal{
    margin-top: 0;
}
tr{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.1vw solid #B5B5B3;
}
th{
    font-size: 1.2vw;
    color: #737373;
    font-weight: 200;
}
th, td{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 1vw 0;
}
th:nth-child(1), td:nth-child(1){
    width: 40vw;
}
table td img{
    width: 7vw;
    shape-outside: circle();
    clip-path: circle();
}
table .nome{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
table h3{
    font-size: 1.4vw;
    font-weight: bold;
    color: #004FDA;
    margin-right: 0.5vw;
}
table td i:nth-child(2){
    position: relative;
    top: 0.3vw;
    font-size: 1.6vw;
    color: #004FDA;
}
table span{
    font-weight: bold;
    color: #F58614;
}



/* MOBILE */
@media (max-width: 1000px){

    /* Área Conteúdo */
    .main{
        position: relative;
        min-width: 100%;
        max-width: 100%;
        height: auto;
        left: 0;
        transition: 0.5s;
    }
    .main.active .toggle{
        left: 40vw;
        position: relative;
        color: #fff;
        z-index: 20;
    }
    .main.active .toggle ion-icon{
        position: fixed;
        color: #fff;
    }

    /* Área Topo */
    .topbar{
        justify-content: space-between;
        margin-right: 1vw;
    }
    /* Ícone Menu */
    .main .toggle{
        margin-left: 2vw;
    }
    /* Barra de Pesquisa */
    .search label input{
        width: 60vw;
        padding: 1vh;
        padding-left: 6vh;
    }
    /* Logo */
    .img-logo{
        margin-right: 2vw;
        height: 7vh;
    }
    .img-logo img{
        width: 8vw;
        height: 8vw;
        border-radius: 50%;
        margin-bottom: 1vh;
    }


    /* Menu Fixo Lateral */
    .navegation{
        display: none;
    }
    .navegation.active{
        display: block;
        width: 60vw;
        z-index: 10;
    }
    .navegation ul{
        margin-left: 1vh;
        margin-right: 1vh;
    }
    .navegation ul li{
        padding-left: 1vh;
        border-radius: 10vh;
        border-radius: 10vh;
    }
    .navegation ul li a{
        width: 100%;
    }
    .navegation ul li:hover a::before,
    .navegation ul li.hovered a::before,
    .navegation ul li:hover a::after,
    .navegation ul li.hovered a::after{
       display: none;
    }
    .navegation.active .logo{
        position: relative;
        margin-top: 3vh;
    }
    .navegation.active .logo img{
        width: 8vw;
        height: 8vw;
        border-radius: 50%;
        margin-bottom: 1vh;
    }
    .navegation.active .title-adm{
        display: block;
    }
    .navegation.active ul li a .icon{
        padding-left: 0.5vh;    
        padding-right: 0;
    }
    .navegation.active ul .title{
        display: block;
        padding-left: 1vh;
    }


    /* Títulos */
    .titulo-pagina span{
        font-size: 4.2vh;
    }
    .sub-titulo{
        position: relative;
        width: 100%;
        text-align: center;
    }
    .sub-titulo span{
        font-size: 3.8vh;
    }

    /* PÁGINA DASHBOARD */

    /* Cards Box */
    .card-box{
        position: relative;
        flex-direction: column;
        top: 6vh;
    }
    .card-laranja, .card-azul{
        width: 30vh;
        margin-bottom: 2vh;
    }
    .card-box .card-conteudo img{
        width: 10vh;
    }
    .card-box .card-name{
        font-size: 2.5vh;
    }
    .card-box .number{
        font-size: 3.5vh;
    }

    /* Gráficos */
    #chartdiv{
        width: 96%;
        height: 60vh;
        margin-bottom: 5vh;
    }
    .titulo-graficos{
        margin-top: 10vh;
        text-align: center;
    }
    .titulo-graficos span{
        font-size: 3.2vh;
    }


    /* PÁGINA PETS */

    /* Cadastro */
    .area-cadastro{
        margin-top: 9vh;
        position: relative;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        width: auto;
    }
    .area-campos{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: auto;
    }
    .campos{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }
    .area-campos .coluna{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2vh;
        margin-bottom: 2vh;
    }
    #imgPhoto{
        width: 22vh;
        height: 22vh;
    }
    .titulo-campo{
        text-align: center;
    }
    .campos-especie, .campos-genero{
        margin-left: 0;
    }
    #coluna-campos{
        margin-right: 0;
    }
    .area-botao{
        margin-top: 3vh;
    }
    .botao-cadastrar{
        font-size: 2.5vh;
        padding: 2vh 4vh;
    }

    .img-deco{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        height: 1px;
    }
    .img-deco img{
        position: relative;
        top: 6vh;
        left: 2vh;
        width: 7vh;
    }

}








.select-menu{
    width: auto;
    cursor: pointer;
    position: relative;
}
  
  .select{
    font-family: Poppins;
    font-size:  1.2vw;
    line-height: 1.5vw;
    display: flex;
    align-items: center;
    width: 18vw;
    height: 3.4vw;
    padding: 0 1.4vw;
    background-color: #E0EBFF;
    border-radius: 3vw;
    border: none;
    outline: none;
    color: #122BAD;
    justify-content: space-between;
  }

  .select span{
    width: 15vw;
  }

  .select i{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s linear;
    font-size: 1.8vw;
    transform: rotate(0);
  }

  
  .options-list{
    position: absolute;
    width: 18vw;
    background-color: #E0EBFF;
    border-radius: 2vw;
    margin-top: 1vw;
    max-height: 20vw;
    overflow-y: auto;
    transition: .4s linear .2s;
    height: 0;
    z-index: 100;
  }
  
  .option{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1vw 0.2vw;
    padding: 0.7vw 1vw;
    font-size: 1.2vw;
    border-radius: 1.5vw;
    line-height: 1.8vw;
    color: #061561;
    transition: .3s ease-in-out;
  }

  .option label{
    width: 150vw;
  }
  
  .option:hover,
  .option.selected{
    background: #6d9dee;
    color: #ffF;
  }
  
  .options-list::-webkit-scrollbar{
    display: none;
  }
  
  .options-list.active{
    height: 14vw;
    color: transparent;
  }


#selectPorte input[type=radio], 
#selectIdade input[type=radio]{
    width: 0;
    height: 0;
}


.modalVer .area-add-fotos{
    position: relative;
    background-color: #fff;
    border: 2px solid #F58614;
    border-radius: 3vh;
    width: 35vw; 
    height: auto;
    top: 2vw;
    left: 3vw;
}

.modalVer .campo-pet{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 14vw !important;
    margin: 0.5vw 0;
}
.modalVer .campo-pet div, .modalVer .campo-pet p{
    display: flex;
    flex-direction: row !important;
    align-items: center;
    justify-content: flex-start;
}
.modalVer .campo-pet p i{
    margin-left: 0.5vw;
}
.modalVer .conteudo-pet{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 90% !important;
    left: 1vw;
}

.edit-cont{
    position: relative;
    bottom: 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.edit-campos{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.editar .area-botoes-modal button{
    position: relative;
    bottom: 2vw;
}
.img-camp img{
    width: 30vw;
    border-radius: 1.5vw;
}

.modal-mapa iframe{
    width: 38vw;
    position: relative;
    top: 2vw;
    right: 1vw;
}

.cont-info{
    position: relative;
    bottom: 7vw;
}
