/* Barra DE PESQUISA */
.area-pesq{
    position: relative;
    top: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.area-search{
    position: relative;
    top: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.input-group{
    width: 30vw;
    background-color: #fff;
    border-radius: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s;
}
.input-group:hover{
    width: 40vw;
    background-color: #fff8;
    box-shadow: 0 .1rem .4rem #0002;
}
.input-group i{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2vw;
    right: 1.2vw;
    color: #004FDA;
}
.input-group input{
    width: 100%;
    font-size: 1.1vw;
    padding: 0.8vw 1.2vw;
    background-color: transparent;
    border: none;
    outline: none;
}


/* SOLICITAÇÕES  */
.area-geral-solict{
    position: relative;
    top: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Item */
.area-campo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 75%;
    padding: 1.5vw;
    margin: 3vh 0;
    border-radius: 1.5vw;
    background-color: #fff;
}
.area-campo:hover{
    background-color: #E3E9FF;
    transition: background-color 500ms ease-in-out;
}

/* Usuário do item */
.area-campo .user{
    display: flex;
    align-items: center;
    justify-content: center;
}
.area-campo .user img{
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
}
.area-campo .dados-user{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 0 1vw;
}
.area-campo .dados-user h4{
    font-family: Regular;
    font-size: 1.4vw;
    color: #004FDA;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 6vw;
}
.area-campo .dados-user p{
    font-size: 1.1vw;
    color: #525050;
    margin-top: 2vh;
}
.area-campo span{
    font-size: 0.8vw;
    color: #8A8A8A;
    margin-left: 1vw;
}

/* Pet do item */
.area-campo .pet{
    display: flex;
    align-items: center;
    justify-content: center;
}
.area-campo .pet img{
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    border: 0.2vw solid #F58614;
}
.area-campo .dados-pet{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 0 1vw;
}
.area-campo .dados-pet h4{
    font-family: Regular;
    font-size: 1.4vw;
    color: #004FDA;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 9vw;
}
.area-campo .dados-pet p{
    font-size: 1.1vw;
    color: #525050;
    margin-top: 2vh;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 9vw;
}

/* Botões do item */
.area-campo .btns{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 1vw;
}
.botao-aceitar, .botao-recusar{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    width: 9vw;
    padding: 0.5vw;
    border-radius: 2vw;
}
.botao-aceitar:hover, .botao-recusar:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.5s;
}
.botao-aceitar i, .botao-recusar i{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4vw;
    color: #fff;
}
.botao-aceitar p, .botao-recusar p{
    margin-left: 0.5vw;
    font-family: Regular;
    font-size: 1.2vw;
    text-transform: uppercase;
    color: #fff;
}
.botao-aceitar{
    background-color: #00BF63;
    margin-bottom: 1vh;
}
.botao-recusar{
    background-color: #EA2D40;
}

/* Ícone Chat */
.icon-chat{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #004FDA;
}
.icon-chat:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.5s;
}
.icon-chat i{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5vw;
}
.icon-chat p{
    margin-left: 0.5vw;
    font-family: Regular;
    font-size: 1.2vw;
}
